<link rel="stylesheet" href="modules/pages/mapview/mapview.tmpl.css"/>
<!-- Start: Center and Radius Detail Section -->
<div class="navbar-default nav-subtab space">
  <div class="table">
    <div class="row">
      <div class="col-md-2 aligndropdown">Select Advertising Location</div>
      <div class="col-md-2">
        <select class="drop-width box-spacing" ng-model="current_center_id" ng-change="changeCurrentCenter(current_center_id)">
          <option ng-repeat="center_var in centers" value="{{center_var.center.id}}">{{center_var.center.center_name}}</option>
         </select>
      </div>
      <div class="col-md-2">New Center Latitude & Longitude: </div>
      <div class="col-md-2">{{new_center.latitude}}/{{new_center.longitude}}</div>
      <div class="col-md-2">Business Name : {{business_name}}</div>
    </div>
    <div class="row">
      <div class="col-md-1 aligndropdown">Radius:</div>
      <div class="col-md-1" style = "margin-left: 116px;">
        <input class="box-spacing" type="number" step="0.5" ng-model="current_center.center.radius">
      </div>
      <div class="col-md-3">
        <button class="btn btn-default active" ng-click="changeCenter()">Change Radius</button>
        <button class="btn btn-default active box-spacing" style = "margin-left: 10px;" ng-show="initial_center_changed[current_center_index]" ng-click="resetCenter()">Reset Center</button>
      </div>
      <div class="col-md-3">
        <button class = "btn btn-default active box-spacing" ng-show="center_changed" ng-click="changeCenter(true)">Change Center</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Center and Radius Detail Section -->
<div class = "container page-panel">
  <div class = "row">
   <div class="col-md-2 search-bin" id="searchBinHolder">
    <div class="panel panel-info filterscroll ">
     <div class="panel-body" id="searchBody">
     <!--Start: Filter Section -->
      <div class="filterPanel ">
       <span class="filterHeader"> Filter your Search </span>
         <a class="btn btn-xs pull-right" style="border: 1px solid #e1e1e1;color: #707070;" ng-click="clearAllFilters()"> Reset filters</a>
      </div>
      <hr>
      <form id = "filterPanelForm">
       <div class = "filterPanel">
        <input type = "checkbox"  ng-model="current_center.center.space_mappings.society_allowed"  ng-click="spaceSociety()"/>
          <span class = "filterPanelHeader" ng-click = "isCollapsed = !isCollapsed">Society Filters</span><br>
         <div ng-if = "current_center.center.space_mappings.society_allowed" uib-collapse="isCollapsed">
          <span class = "filterPanelHeader ">Inventory Type</span>
          <div class = "nbCheckbox two-col" ng-repeat="inventory in society_inventory_type">
            <input type = "checkbox"  ng-model="inventory.selected" ng-change="societyFilter(inventory)">{{ inventory.name }}&nbsp;
          </div>
          <hr>
          <span class = "filterPanelHeader ">Society Type</span>
            <div class = "nbCheckbox two-col"  ng-repeat="quality_type in society_quality_type">
                <input type = "checkbox"  ng-model="quality_type.selected" ng-change="societyFilter()">{{ quality_type.name }}&nbsp;
            </div>
            <hr>
          <span class = "filterPanelHeader ">Society Size</span>
            <div class = "nbCheckbox two-col" ng-repeat="quantity_type in society_quantity_type">
                <input type = "checkbox" ng-model="quantity_type.selected" ng-change="societyFilter()">{{ quantity_type.name }}&nbsp;
            </div>
            <hr>
          <span class = "filterPanelHeader ">Society Location Rating</span>
          <div class = "nbCheckbox two-col" ng-repeat="location in society_location">
            <input type = "checkbox" ng-model="location.selected" ng-change="societyFilter()">{{ location.name }}&nbsp;
          </div>
          <hr>
          <span class = "filterPanelHeader ">Society Flat Type</span>
            <div class = "nbCheckbox two-col" ng-repeat="flat_type in society_flat_type">
                <input type = "checkbox" ng-model="flat_type.selected" ng-change="societyFilter()">{{ flat_type.name }}&nbsp;
            </div>
          </div>
        </div>
        <div class = "filterPanel">
         <input type = "checkbox"  ng-model="current_center.center.space_mappings.corporate_allowed"  ng-click="spaceSociety()"/>
           <span class = "filterPanelHeader"> Corporate Filters</span><br>
          <div ng-if = "current_center.center.space_mappings.corporate_allowed">
           <span class = "filterPanelHeader ">Inventory Type</span>
           <div class = "nbCheckbox two-col" ng-repeat="inventory in society_inventory_type">
             <input type = "checkbox"  ng-model="inventory.selected" ng-change="societyFilter(inventory)">{{ inventory.name }}&nbsp;
           </div>
           <hr>
           </div>
         </div>
      </form>
     </div>
    </div>
  </div>
<!-- Filter Section End -->
<!-- Map Starts here -->
<div class="col-md-3 map-width" ng-if="!show_societies">
<style type="text/css">
    .angular-google-map-container { height: 550px; width: 840px;}
</style>
<div class = "mapPosition">
  <div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false"
                        options="options" bounds="map.bounds" control="googlemap">
        <ui-gmap-window show="show" coords='windowCoords' closeClick="closeClick()">
              <div>
                 Name : {{space.name}}<br>
                 Address : {{space.address1 + " " + space.subarea}}<br>
                 Locality Rating : {{space.location_type}}<br>
              </div>
        </ui-gmap-window>
         <!-- <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle> -->
        <ui-gmap-circle center="circle.center" stroke="circle.stroke" radius="circle.radius" clickable="circle.clickable", control="circle.control"></ui-gmap-circle>
        <ui-gmap-markers models="society_markers" coords="'self'" icon="'icon'" events="'events'" options="'options'" doRebuildAll="true" click="onClick">
        <!-- <ui-gmap-markers models="society_markers1" coords="'self'" icon="'icon'" events="'events'" options="'options'" doRebuildAll="true" click="onClick"> -->
        </ui-gmap-markers>
       <ui-gmap-markers models="center_marker" coords="'self'" icon="'icon'" options="'options'" doRebuildAll="true" click="onClick" events = "'events'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
        </div>
      </div>
  </div>
  <!-- Start: grid view -->
  <div class="col-md-4 table-responsive" ng-if="show_societies" style="width: 800px; height: 550px">
      <h2>Grid View</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class = "col-md-1">#</th>
            <th class = "col-md-4">Center Name</th>
            <th class = "col-md-4">Supplier Name</th>
            <th class = "col-md-4">SubArea-Area</th>
            <th class = "col-md-4">Flat Count</th>
            <th class = "col-md-4">Average Rent</th>
            <th class = "col-md-4">Society Type</th>
            <th class = "col-md-4">Locality Rating</th>
            <th class = "col-md-4">Machadalo Index</th>
            <th class="center-align" ng-if="inv_poster">Poster Count</th>
            <th class="center-align" ng-if="inv_standee">Standee Count</th>
            <th class="center-align" ng-if="inv_stall">Stall Count</th>
            <th class="center-align" ng-if="inv_flier">Flyer Count</th>
            <th class = "col-md-4">Shortlisted/Buffer</th>
            <th class = "col-md-4">Action</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <!--Changes for displaying all center's societies in gridView  -->
        <tbody ng-repeat = "society1 in centers1">
          <tr ng-repeat = "society in society1.societies">
            <td>{{$index+1}}</td>
            <td>{{society1.center.center_name}}</td>
            <td><a ng-href="http://localhost:9000/#/campaign/5/societyDetails/{{society.supplier_id}}" target="_blank">{{society.society_name}}</a></td>
            <td>{{society.society_subarea + "," + society.society_locality}}</td>
            <td>{{society.flat_count}}</td>
            <td>{{society.average_rent}}</td>
            <td>{{society.society_type_quality}}</td>
            <td>{{society.society_location_type}}</td>
            <td>{{society.machadalo_index}}</td>
            <td ng-if="inv_poster">{{society.tower_count}}</td>
            <!-- <td ng-if="inv_poster">{{society.poster_price}}</td>-->
            <td ng-if="inv_standee">{{society.total_standee_count}}</td>
            <!-- <td ng-if="inv_standee">{{society.standee_price}}</td> -->
            <td ng-if="inv_stall">{{society.total_stall_count}}</td>
            <!-- <td ng-if="inv_stall">{{society.stall_price}}</td> -->
            <td ng-if="inv_flier">{{society.flat_count}}</td>
            <!-- <td ng-if="inv_flier">{{society.flier_price}}</td> -->
            <td>
              <button class="btn btn-success active" ng-if="!society.shortlisted" ng-click="society.shortlisted = !society.shortlisted">Shortlist</button>
              <span ng-if="society.shortlisted">
              <input type="checkbox" ng-model="society.buffer_status"> Buffer
              </span>
            </td>
            <td>
              <button class="btn btn-danger active" ng-if="society.shortlisted" ng-click="society.shortlisted = !society.shortlisted">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div  ng-repeat="society in current_center.societies"></div> -->
        <button class="btn btn-danger active" ng-click="submitProposal()">Submit Final Proposal</button>
        <button data-target = "#addNewSocities" class="btn btn-danger active" data-toggle="modal" >Add Societies</button>
  </div>

  <!-- End: grid view -->

    <!-- Start: Summary Section -->

    <div class="col-md-2"  ng-if = "!show_societies" ng-class = "{summaryGrid: show_societies, summarypanel: !show_societies }">
      <div class="panel panel-info">
        <div class="panel-body" id="searchBody">
          <div class="filterPanel">
            <span class="filterHeader"> Summary for {{centers1[current_center_index].center.center_name}}</span></div>
            <hr>
             <span class = "space filterPanelHeader ">Space Count</span>
             <div class = "nbCheckbox two-col">Societies:  {{current_center.societies_count}}</div>
             <div class = "nbCheckbox two-col">Flat Count:  {{total_flat_count}}</div>
             <div class = "nbCheckbox two-col">Tower Count:  {{total_towers}}</div>
            <!--added if condition below to display those inventories selected by user in sumarry section-->
            <hr>
              <span class = "space filterPanelHeader">Inventory Count</span>
              <div class = "nbCheckbox two-col" ng-if="inv_flier">Flyers: {{total_flat_count}}</div>
              <div class = "nbCheckbox two-col" ng-if="inv_poster">Posters: {{towers}}</div>
              <div class = "nbCheckbox two-col" ng-if="inv_stall">Stalls: {{current_center.societies_inventory_count.stalls}}</div>
              <div class = "nbCheckbox two-col" ng-if="inv_standee">Standees: {{current_center.societies_inventory_count.standees}}</div>
            <hr>
             <span class = "space filterPanelHeader">Total Number of Impressions</span>
             <div class = "nbCheckbox two-col" ng-if="inv_flier">Flyers: {{impressions.flierImpression}}</div>
             <div class = "nbCheckbox two-col" ng-if="inv_poster">Posters: {{impressions.posterImpression}}</div>
             <div class = "nbCheckbox two-col" ng-if="inv_stall">Stalls: {{impressions.stallImpression}}</div>
             <div class = "nbCheckbox two-col" ng-if="inv_standee">Standees: {{impressions.standeeImpression}}</div>
            <hr>
             <!-- <span class = "space filterPanelHeader ">Total Price</span> -->
           </div>
        </div>
        <div>
         <button class="btn btn-danger active" ng-show="show_societies" ng-click="showSocieties()">Map View</button>
         <button class="btn btn-danger active" ng-show="!show_societies" ng-click="showSocieties()">Grid View</button>
       </div>
      </div>

      <!-- Start: Summary Section of Gridview-->

      <div class="col-md-2"  ng-if = "show_societies" ng-class = "{summaryGrid: show_societies, summarypanel: !show_societies }">
        <div class="panel panel-info">
          <div class="panel-body" id="searchBody">
            <div class="filterPanel">
              <span class="filterHeader">Comprehensive Summary </span></div>
              <hr>
               <span class = "space filterPanelHeader ">Space Count</span>
               <div class = "nbCheckbox two-col">Societies:  {{total_societies}}</div>
               <div class = "nbCheckbox two-col">Flat Count:  {{total_flats}}</div>
               <div class = "nbCheckbox two-col">Tower Count:  {{total_posters}}</div>
              <!--added if condition below to display those inventories selected by user in sumarry section-->
              <hr>
                <span class = "space filterPanelHeader">Inventory Count</span>
                <div class = "nbCheckbox two-col" ng-if="inv_flier">Flyers: {{total_flats}}</div>
                <div class = "nbCheckbox two-col" ng-if="inv_poster">Posters: {{total_posters}}</div>
                <div class = "nbCheckbox two-col" ng-if="inv_stall">Stalls: {{total_stalls}}</div>
                <div class = "nbCheckbox two-col" ng-if="inv_standee">Standees: {{total_standees}}</div>
              <hr>
               <span class = "space filterPanelHeader">Total Number of Impressions</span>
               <div class = "nbCheckbox two-col" ng-if="inv_flier">Flyers: {{total_flierImpressions}}</div>
               <div class = "nbCheckbox two-col" ng-if="inv_poster">Posters: {{total_posterImpressions}}</div>
               <div class = "nbCheckbox two-col" ng-if="inv_stall">Stalls: {{total_stallImpressions}}</div>
               <div class = "nbCheckbox two-col" ng-if="inv_standee">Standees: {{total_standeeImpressions}}</div>
              <hr>
               <!-- <span class = "space filterPanelHeader ">Total Price</span> -->
             </div>
          </div>
          <div>
          <button class="btn btn-danger active" ng-show="show_societies" ng-click="showSocieties()">Map View</button>
          <button class="btn btn-danger active" ng-show="!show_societies" ng-click="showSocieties()">Grid View</button>
          <button class="btn btn-danger active" ng-show="show_societies" ng-click = "exportData()">Save to Excel</button>

          <button class="btn btn-danger active" ngf-select="upload($file)">Upload</button>

        </div>
        </div>



    </div><!-- row div ends here-->
</div><!-- containner div ends here-->

<div id = "addNewSocities" class = "modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add New Socities</h4>
          <hr/>
          <div class = "modal-body" style = "height: 300px;">
            <div class="row">
              <div class = "col-md-3"><label>Account Email</label></div>
              <div class = "col-md-3"><label>Account Phone</label></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
