.mapPosition{
	margin-left: 15%;
}
.selectcenter{
	margin-left: 10%;
	margin-top: 2%;
}
.containerSpacing{
	margin-top: 2%;
}
/*.two-col{
	min-width: 45%;
	max-width: 45%;
}
.nbCheckbox{
	position: relative;
	margin-top: 15px;
}*/
body{
	background-color: #e6e6e6;
	font-family: Source Sans Pro;
}
