<link rel="stylesheet" href="modules/common/campaignSocieties/campaign-societies.tmpl.css"/>
<!--campaign info -->
 <div style="margin-top:30px">
	<table  cellpadding="30" class="hpadding20 table table-bordered noborderright noborderleft " >
		 <tbody>
			 <tr><!--removed valign="center"-->
					<td colspan="4">
						 <div class="col-md-8 offset-0" style="padding-left:8px;">
							<div class="col-md-7 hpadding20">
								 <h4>{{campaign.business.name}} Ad Campaign</h4>
								 <div style="margin-botton:4px;background-color:#c9302c;color:#fff;" class="badge">{{campaign.booking_status}}</div>
								 <div style="color:#949292">
								   <p >Business Type: {{campaign.business.type}} , {{campaign.business.sub_type}}</p>
								   <p>Campaign Types:</p>
								   <p ng-repeat="key in campaign.types">{{key.type}} - {{key.sub_type}}</p>
								    <p >Start Date: {{campaign.start_date}}</p>
							      <p>End date: {{campaign.end_date}}</p>
								  </div>
							</div>
						</div>

						<div class="col-md-4"></div>
						<div class="col-md-8 hpadding20" style="margin-top:15px">
							<div class="col-md-4"><button type="button" class="list-button btn btn-danger btn-lg active" ng-click = "addSocieties(campaign.id)">ADD SOCIETIES</button></div>
							<div class="col-md-4"><button type="button" class="list-button btn btn-default btn-lg active" ng-click ="book(campaign.id)" >SUBMIT</button></div>
						</div>
					 </div>
					</td>
				</tr>
				<tr><td colspan="4" style="border-bottom-style:hidden;" > <b>Key Data Points :</b></td></tr>

				<tr align="center">
				 <td><h4>{{campaign.society_count}}</h4><p style="color:#949292">Society Count</p></td>
				 <td style="border-right-style:hidden;"><h4>{{society.machadalo_index}}</h4><p style="color:#949292">No of Flats</p></td>
				 <td><h4>{{campaign.info.resident_count}}</h4><p style="color:#949292">Estimated Residents</p></td>
				 <td><h4>{{campaign.info.ad_spaces}}</h4><p style="color:#949292">Total Ad Spaces</p></td>
				</tr>
		  </tbody>s
		</table>
	</div>
<!-- LIST CONTENT-->
		<div class="rightcontent col-md-10 offset-0"  >
            <b>&nbsp;Campaign Societies </b><br/><br/>

			<div class="itemscontainer offset-1" >
				<div class="offset-2" ng-repeat="row in model">
					<table cellpadding="30" class="hpadding20 table table-bordered align"  >
					 <tbody>
						 <tr valign="center">
								<td colspan="4" >
								 <div class="col-md-8 offset-0" style="padding-left:8px;">
										<div class="col-md-7 hpadding20">
											<h4>{{row.society.society_name}}</h4>
                      <div class="badge aligntop" style="background-color:#c9302c ;color:#fff;">{{row.booking_status}}</div>
											<div style="color:#949292">
												<p><span class="fa fa-map-marker"></span>{{row.society.society_address1}} , {{row.society.society_address2}}</p>
											  <p >No of flats: {{row.society.flat_count}}</p>
											  <p>Estimated Residents: {{row.society.resident_count}}</p>
											  <p>Average Flat Size: {{row.society.flat_avg_size}}</p>

											 </div>
										</div>
										<div class="col-md-5 hpadding20" style="margin-top:20px">
											<button type="button" class="list-button btn btn-danger btn-lg active" ng-click = "removeThis(row.id)"> REMOVE </button><br><br>
											<button type="button" class="list-button btn btn-default btn-lg active" ng-click ="catalogue(campaign.id, row.id)" >VIEW DETAILS</button>
										</div>
								  </div>
								</td>
							</tr>
							<tr align="center" >
								 <td><h4>{{row.society.society_type_quality}}</h4><p style="color:#949292">Type of society</p></td>
								 <td><h4>{{row.society.society_location_type}}</h4><p style="color:#949292">Locality rating</p></td>
								 <td><h4>{{row.society.machadalo_index}}</h4><p style="color:#949292">Machadalo Index</p></td>
								 <td><h4>{{row.society.total_ad_spaces}}</h4><p style="color:#949292">Ad Spaces</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- End of offset1-->
		</div>
		<!-- END OF LIST CONTENT-->
