env
env.bk
coreapi/coreapi/static
db.sqlite3
.idea/*
*.swp
*.csv
*.sql
*.txt
*.deb
*.pyc
*.csv#
*.xlsx#
*.pyc
.idea
coreapi/coreapi/coreapi/config.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
