<div ng-if="errormsg"><h3>{{errormsg}}</h3></div>

<link rel="stylesheet" href="modules/pages/createProposal/createproposal.tmpl.css" />
  <div class="page-container">
  	<div>
    	<span style="color:red;margin-left:25%;font-size:18px;">{{errorMsg}}</span><br>
    	<span style="color:blue;margin-left:28%;font-size:18px;">{{successMsg}}</span>
  	</div>

  	<form name="proposal">
  		<div class="panel panel-default business-panel">
        <h3 class="panel-heading alignment">Initial Requirement Gathering</h3>
  			<div class="table">
  				<div class="row">
  					<div class="col-md-3"><label class="spacing">Name of Proposal</label></div>
  					<div class="col-md-3"><input type="text" ng-model="model.name" class="form-control spacing"></div>
  				</div>
  				<div class="row">
  					<div class="col-md-3"><label class="spacing">Tentative Budget</label></div>
  					<div class="col-md-3"><input type="number" ng-model="model.tentative_cost" class="form-control spacing"></div>
  				</div>
          <button class="btn btn-danger spacing pull-left" ng-click="addCenter()">Add Center</button>
  			</div>
  		</div>
  	</form>

    <form name="centerDetail">
    	<div class="table-responsive panel panel-default business-panel">
    		<table class="table table-bordered">
    			<thead>
    				<tr>
    					<!-- <th>S.No.</th> -->
    					<th class="alignment">Advertising Location</th>
    					<th class="alignment">Address</th>
              <th class="alignment">City</th>
    					<th class="alignment">Area</th>
              <th class="alignment">Sub Area</th>
              <th class="alignment">Pincode</th>
    					<th class="alignment">Radius</th>
    					<th class="alignment">Space Type</th>
    					<th class="alignment">Action</th>
    				</tr>
    			</thead>
    			<tbody ng-repeat="center in model.centers track by $index">
    				<tr>
    					<td><input type="text" ng-model="center.center.center_name" class="form-control spacing"></td>
    					<td><input type="text" ng-model="center.center.address" class="form-control spacing"></td>
              <td>
                <select name="city" class="form-control input-size" ng-change="get_areas(center.city,$index)" ng-model="center.city">
                  <option value="">Select City</option>
                  <option  ng-repeat="city in cities" value="{{city.id}}" required>{{city.city_name}}</option>
                </select>
              </td>
              <td>
                <select name="areas" class="form-control input-size" ng-change="get_sub_areas(center.area,$index)" ng-model="center.area">
                  <option value="">Select Area</option>
                  <option  ng-repeat="area in areas[$index]" value="{{area.id}}" required>{{area.label}}</option>
                </select>
              </td>
              <td>
                <select name="subareas" class="form-control input-size" ng-change="" ng-model="center.center.subarea">
                  <option value="">Select SubArea</option>
                  <option  ng-repeat="subarea in sub_areas[$index]" value="{{subarea.subarea_name}}" required>{{subarea.subarea_name}}</option>
                </select>
              </td>
              <td><input type="text" ng-model="center.center.pincode" class="form-control spacing col-width"></td>
    					<td><input type="number" ng-model="center.center.radius" class="form-control spacing col-width"></td>
    					<td>
                <input type="checkbox" ng-model="center.center.space_mapping.society_allowed" ng-change="checkSpace(center, 'society')">Societies<br>
                <input type="checkbox" ng-model="center.center.space_mapping.corporate_allowed" ng-change="checkSpace(center, 'corporate')">Corporate Parks
              </td>
    					<td><button class="btn btn-danger spacing" ng-click="removeCenter($index)">Remove Center</button></td>
    				</tr>
    			</tbody>
    		</table>
    		<button class="btn btn-danger spacing" ng-click="submit()">Submit</button>
    	</div>
    </form>
