<div ng-if="errormsg"><h3>{{errormsg}}</h3></div>
<div>
	Proposal Info
	Name : <input type="text" ng-model="model.name">
	tentative_cost = <input type="number" ng-model="model.tentative_cost">
	<br><br>
</div>

<div> 
	<button ng-click="addCenter()">Add Center</button>&nbsp;
</div>
	
<div ng-repeat="center in model.centers track by $index">
	Name : <input type="text" ng-model="center.center.center_name">
	Address :  <input type="text" ng-model="center.center.address">
	subarea :  <input type="text" ng-model="center.center.subarea">
	area : <input type="text" ng-model="center.center.area"><br>
	city : <input type="text" ng-model="center.center.city">
	pincode : <input type="text" ng-model="center.center.pincode">
	radius : <input type="number" ng-model="center.center.radius">
	<!-- latitude : <input type="text" ng-model="center.center.latitude">
	longitude : <input type="text" ng-model="center.center.longitude"> -->
	<button ng-click="removeCenter($index)">Remove</button>
	<br><br>

	<input type="checkbox" ng-model="center.center.space_mapping.society_allowed" ng-change="checkSpace(center, 'society')">Society 
	<div ng-if="center.center.space_mapping.society_allowed" >
		Society Count :	<input type="number" ng-model="center.center.space_mapping.society_count" >
		Society Buffer Count : <input type="number" ng-model="center.center.space_mapping.society_buffer_count" >
		<input type="checkbox" ng-model="center.society_inventory.poster_allowed"> Poster
		<input type="checkbox" ng-model="center.society_inventory.standee_allowed"> Standee
		<input type="checkbox" ng-model="center.society_inventory.stall_allowed"> Stall
		<input type="checkbox" ng-model="center.society_inventory.flier_allowed"> Flier
		<input type="checkbox" ng-model="center.society_inventory.banner_allowed"> Banner
	</div><br>


	<input type="checkbox" ng-model="center.center.space_mapping.corporate_allowed" ng-change="checkSpace(center, 'corporate')">corporate 
	<div ng-if="center.center.space_mapping.corporate_allowed" >
		corporate Count :	<input type="number" ng-model="center.center.space_mapping.corporate_count" >
		corporate Buffer Count : <input type="number" ng-model="center.center.space_mapping.corporate_buffer_count" >
		<input type="checkbox" ng-model="center.corporate_inventory.poster_allowed"> Poster
		<input type="checkbox" ng-model="center.corporate_inventory.standee_allowed"> Standee
		<input type="checkbox" ng-model="center.corporate_inventory.stall_allowed"> Stall
		<input type="checkbox" ng-model="center.corporate_inventory.flier_allowed"> Flier
		<input type="checkbox" ng-model="center.corporate_inventory.banner_allowed"> Banner
	</div><br>

	<br><br>
</div>
<button ng-click="submit()">Submit</button>