.side-nav-list{
  padding-left: 20px;
}
.table-body{
    overflow: auto;
    max-height : 400px;
    table-layout: fixed;
}
.cards{
  margin: 30px;
}
.carousel-control{
  /*opacity: 0;*/
 background-image: none !important;
}
.inv-count-card{
  width: 20%;
}
.inv-title{
  width : 12%;
}
.cards{
  max-height: 180px;
}
