<link rel="stylesheet" href="/modules/pages/leads/campaignLeads.tmpl.css">
<div><nav-bar></nav-bar></div><br/><br/><br/>
<div class="" ng-show="!views.campaigns">
  <button type="button" class="btn btn-primary" ng-click="changeView('campaigns',campaign)">Back To Campaign Details Page</button>
</div>
<div class="panel panel-default" ng-if="views.campaigns">
  <div class="panel-heading">
    <h3>Campaign Details</h3>
  </div>
  <div class="panel-body">
    <div >
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th ng-repeat="header in campaignHeaders">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in campaigns">
            <td>{{campaign.campaign.name}}</td>
            <td>{{campaign.campaign.tentative_start_date|limitTo:10}}</td>
            <td>{{campaign.campaign.tentative_end_date|limitTo:10}}</td>
            <td>
              <button class="btn btn-danger" ng-click="changeView('viewLeads',campaign)">View Leads</button>
            </td>
            <td>
              <button class="btn btn-danger" ng-click="changeView('createForm',campaign)">Create/Edit Lead Form</button>
            </td>
            <td>
              <button class="btn btn-danger" ng-click="changeView('selectSuppliers',campaign)">Enter Leads</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--start: leads  -->
<div class="panel panel-default" ng-if="views.viewLeads">
  <div class="panel-heading">
    <h3>{{campaignName}} Leads</h3>
  </div>
  <div class="panel-body">
    <div>
      <table class="table table-bordered table-responsive" export-csv="csv" separator=";">
        <thead>
          <tr>
            <th ng-repeat="header in leadsData.alias_data">{{header.alias}}</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="lead in leadsData.leads">
            <td ng-repeat="alias in leadsData.alias_data">{{lead[alias.original_name]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-danger" title="{{campaignName}} Leads" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="{{campaignName}}_leads.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;Download As Excel
    </a>
  </div>
</div>
<!--end: leads  -->
<!--start: create form  -->
<div class="panel panel-default" ng-if="views.createForm">
  <div class="panel-heading">
    <h3>Create/Edit Form</h3>
  </div>
  <div class="panel-body">
    <form name="fieldForm">
      <div ng-repeat="model in modelData.alias_data">
        <div class="form-group col-md-6">
          <label for="email">FieldName:</label>
          <select class="form-control" ng-model="model.original_name" required>
            <option ng-repeat="field in formFields" value="{{field.name}}" ng-disabled="savedFormFields[field.name]">{{field.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="pwd">Suggested Name:</label>
          <input type="text" class="form-control" ng-model="model.alias" required>
        </div>
        <hr>
      </div>
      <div class="form-group col-md-12">
        <button style="text-align:left" class="btn btn-danger" ng-click="addField($index)">Add</button>
        <button ng-click="create()" style="text-align:right" class="btn btn-danger" ng-disabled="fieldForm.$invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
<!--end: create form  -->
<!--start: enter leads data -->
<div class="panel panel-default" ng-if="views.selectSuppliers">
  <div class="panel-heading">
    <h3>Select Supplier</h3>
  </div>
  <div class="panel-body">
    <div>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Index</th>
            <th>Supplier Name</th>
            <th>Area</th>
            <th>Subarea</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in suppliers">
            <td>{{$index+1}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.area}}</td>
            <td>{{supplier.subarea}}</td>
            <td>{{supplier.address1}} {{supplier.address2}}</td>
            <td>
              <button class="btn btn-danger" ng-click="getLeadForm(supplier)">Enter Leads</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--end: enter leads data  -->
