<html>
    <style>
table, td, th {
    border: 1px solid black;
}

</style>
    <body>
        Dear {{campaign_name}} Team,<br><br>
        The following are the Supplier details for {{campaign_name}} campaign:
        <br/> <br/>
        <p>
            For more details, Please Click on : <a href="https://platform.machadalo.com/#/dashboard">https://platform.machadalo.com/#/dashboard</a>
        </p>
        <br>

        List of Suppliers are as follows:
    <br>
        <table style="border-collapse: collapse;width: 60%;border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Index</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Name of a Supplier</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Flat Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Tower Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Type Of Supplier</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Area(Subarea)</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Address</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Map Address</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Date of Execution</th>
<!--                 <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Inventory Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Stall Location</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Freebies</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Comments</th> -->
            </tr>
            {% if details_dict.ongoing_phase %}
                {% for supplier in details_dict.ongoing_phase.total_booked.supplier_data %}
                    <tr style="border: 1px solid black;border: 1px solid black;">
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{loop.index}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.society_name}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.flat_count}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.tower_count}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.society_type_quality}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.society_locality}}({{supplier.society_subarea}})</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">{{supplier.society_address1}}</td>
                        <td style="height: 50px;vertical-align: middle;border: 1px solid black;">
                            <a href="https://www.google.com/maps/?q=+{{supplier.society_latitude}}+{{supplier.society_longitude}}">Details</a>
                        </td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.next_action_date}}</td>
                 <!--        <td style="height: 50px;min-width:120px;vertical-align: bottom;border: 1px solid black;">
                            <div>
                                Poster : {% if supplier.inventory_counts.POSTER %}{{supplier.inventory_counts.POSTER}}{% else %} 0 {% endif %}<br/>
                                    Release Date : {% if supplier.inventory_dates.POSTER %}
                                                {% for date in supplier.inventory_dates.POSTER %}
                                                    {{date}}<br/>
                                                {% endfor %}
                                            {% endif %}
                                    Days : {% if supplier.inventory_days.POSTER %}
                                                {{supplier.inventory_days.POSTER}}
                                            {% endif %}
                                <br /><br />
                                Flyer : {% if supplier.inventory_counts.FLIER %}{{supplier.inventory_counts.FLIER}} {% else %} 0 {% endif %}<br/>
                                    Release Date : {% if supplier.inventory_dates.FLIER %}
                                                {% for date in supplier.inventory_dates.FLIER %}
                                                    {{date}}<br/>
                                                {% endfor %}
                                            {% endif %}

                                <br />
                                Standee : {% if supplier.inventory_counts.STANDEE %}{{supplier.inventory_counts.STANDEE}} {% else %} 0 {% endif %}<br />
                                    Release Date : {% if supplier.inventory_dates.STANDEE %}
                                                {% for date in supplier.inventory_dates.STANDEE %}
                                                    {{date}}<br/>
                                                {% endfor %}
                                            {% endif %}
                                    Days : {% if supplier.inventory_days.STANDEE %}
                                                {{supplier.inventory_days.STANDEE}}
                                            {% endif %}
                                <br /><br />
                                Stall : {% if supplier.inventory_counts.STALL %}{{supplier.inventory_counts.STALL}} {% else %} 0 {% endif %}<br />
                                    Release Date : {% if supplier.inventory_dates.STALL %}
                                                {% for date in supplier.inventory_dates.STALL %}
                                                    {{date}}<br/>
                                                {% endfor %}
                                            {% endif %}
                                    Days : {% if supplier.inventory_days.STALL %}
                                                {{supplier.inventory_days.STALL}}
                                            {% endif %}

                            </div>
                        </td>
                        <td style="height: 50px;min-width:120px;vertical-align: middle;border: 1px solid black;">
                            {% if supplier.stall_locations %}
                                {% for loc in supplier.stall_locations %}
                                    {{loop.index}} : {{loc}} <br />
                                {% endfor %}
                            {% else %}
                                Not Selected
                            {% endif %}

                        </td>
                        <td style="height: 50px;min-width:120px;vertical-align: middle;border: 1px solid black;">
                            {% if supplier.freebies %}
                                {% for freebie in supplier.freebies %}
                                    {{loop.index}} : {{freebie}} <br />
                                {% endfor %}
                            {% else %}
                                Freebies will be updated on day of Campaign
                            {% endif %}

                        </td>
                        <td style="height: 50px;min-width:120px;vertical-align: middle;border: 1px solid black;">
                            {% if supplier.comments %}
                                {% for comment in supplier.comments%}
                                    {{loop.index}} : {{comment}} <br />
                                {% endfor %}
                            {% else %}
                                No Comments Available
                            {% endif %}

                        </td> -->
                    </tr>
                {% endfor %}
                    <tr style="background-color:#8C1B24;color:white;border: 1px solid black;">
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total     </th>
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;min-width:100px">Total Supplier Count : {{details_dict.ongoing_phase.total_booked.supplier_count}}</th>
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;min-width:100px">Total Flat Count : {{details_dict.ongoing_phase.total_booked.flat_count}}</th>
                    </tr>
            {% endif %}
        </table>
    <br><br>
    <b>Thanks and Regards,<br> Client Servicing Team <br> Machadalo</b>
    <br> <br>
    <p>© 2019 Machadalo, Brand owned by Vijaikirti Technology Private Limited. All rights reserved.
        Copyright in the whole and any part of this document belongs to  Machadalo, Brand owned by
        Vijaikirti Technology Private Limited. This work may not be used, sold, transferred, adapted, abridged,
        copied or reproduced in whole or in part, in any manner or form, or in any media, without the prior written
        consent of  Machadalo, Brand owned by Vijaikirti Technology Private Limited.
        This mailer contains CONFIDENTIAL INFORMATION and is intended for the sole use of the addressee(s) only.
        The mailer is not to be forwarded to contacts who have not been addressed. For further details, visit website <a href="https://machadalo.com">Machadalo.com</a></p>
    </body>
</html>
