<html>
    <style>
table, td, th {
    border: 1px solid black;
}

</style>
    <body>
        Dear {{campaign_name}} Team,<br><br>
        The following are the Supplier details for {{campaign_name}} campaign:
        <br/><br/>
        <p>
            For more details, Please Click on : <a href="https://platform.machadalo.com/#/dashboard">https://platform.machadalo.com/#/dashboard</a>
        </p>
        <br>

        List of Suppliers are as follows:
    <br>
        <table style="border-collapse: collapse;width: 60%;border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Index</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Name of a Supplier</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Flat Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Tower Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Type Of Supplier</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Area(Subarea)</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Address</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Map Address</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Date of Execution</th>
            </tr>
            {% if details_dict.upcoming_phases %}
                {% for supplier in details_dict.upcoming_phases[0].confirmed_booked.supplier_data %}
                    <tr style="border: 1px solid black;border: 1px solid black;">
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{loop.index}}</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_name if supplier.society_name else supplier.supplier_name}}</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.flat_count}}</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.tower_count}}</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_type_quality if supplier.society_type_quality else supplier.quality_rating}}</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_locality if supplier.society_locality else supplier.area}}({{supplier.society_subarea if supplier.society_subarea else supplier.subarea}})</td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_address1 if supplier.society_address1 else ""}}</td>
                        
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">
                            <a href="https://www.google.com/maps/?q=+{{supplier.society_latitude}}+{{supplier.society_longitude}}">Details</a>
                        </td>
                        <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.next_action_date}}</td>
                    </tr>
                {% endfor %}
                    <tr style="background-color:#8C1B24;color:white;border: 1px solid black;">
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total     </th>
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total Supplier Count : {{details_dict.upcoming_phases[0].confirmed_booked.supplier_count}}</th>
                        <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total Flat Count : {{details_dict.upcoming_phases[0].confirmed_booked.flat_count}}</th>
                    </tr>
            {% endif %}
        </table>
    <br><br>
    <b>Thanks and Regards,<br> Client Servicing Team <br> Machadalo</b>
    <br> <br>
    <p>© 2019 Machadalo, Brand owned by Vijaikirti Technology Private Limited. All rights reserved.
        Copyright in the whole and any part of this document belongs to  Machadalo, Brand owned by
        Vijaikirti Technology Private Limited. This work may not be used, sold, transferred, adapted, abridged,
        copied or reproduced in whole or in part, in any manner or form, or in any media, without the prior written
        consent of  Machadalo, Brand owned by Vijaikirti Technology Private Limited.
        This mailer contains CONFIDENTIAL INFORMATION and is intended for the sole use of the addressee(s) only.
        The mailer is not to be forwarded to contacts who have not been addressed. For further details, visit website <a href="https://machadalo.com">Machadalo.com</a></p>
    </body>
</html>
