<html>
    <style>
table, td, th {
    border: 1px solid black;
}

</style>
    <body>
        Dear Team,<br><br>
        This is the MIS Report for No of Contact Person and Name of Contact Person Count,Permission Letter,Receipt updated within last 24 hrs Per Campaigns.
        <br /> <br />

    <br>
        <table style="border-collapse: collapse;width: 100%;border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Index</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Campaign Name</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total Supplier Count </th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Permission Letter From</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Receipt from</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Total Supplier Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Name of Contact Person</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">No of Contact Person</th>
            </tr>
            {% if partial_dict %}
                {% for supplier in partial_dict %}
                    <tr style="border: 1px solid black;border: 1px solid black;">
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{loop.index}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.campaign_name}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.total_supplier_count}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.count_permission}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.count_receipt}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.supplier_count}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.total_contacts_with_name}}</td>
                        <td style="height: 80px;vertical-align: bottom;border: 1px solid black;">{{supplier.total_contacts_with_number}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <p>
            For more details, Please Click on : <a href="https://platform.machadalo.com">https://platform.machadalo.com/#/dashboard</a>
        </p>
    <br><br>
    <b>Thanks and Regards,<br> Client Servicing Team <br> Machadalo</b>
    <br> <br>
    <p>© 2019 Machadalo, Brand owned by Vijaikirti Technology Private Limited. All rights reserved.
        Copyright in the whole and any part of this document belongs to  Machadalo, Brand owned by
        Vijaikirti Technology Private Limited. This work may not be used, sold, transferred, adapted, abridged,
        copied or reproduced in whole or in part, in any manner or form, or in any media, without the prior written
        consent of  Machadalo, Brand owned by Vijaikirti Technology Private Limited.
        This mailer contains CONFIDENTIAL INFORMATION and is intended for the sole use of the addressee(s) only.
        The mailer is not to be forwarded to contacts who have not been addressed. For further details, visit website <a href="https://machadalo.com">Machadalo.com</a></p>
    </body>
</html>
