<html>
    <style>
table, td, th {
    border: 1px solid black;
}

</style>
    <body>
        The following are the Pipeline details for {{campaign_name}} campaign:
        <br /> <br />

        <table style="border-collapse: collapse;width: 60%;border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Index</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Supplier Name</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Flat Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Tower Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Type Of Supplier</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Area(Subarea)</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Status</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Tentative Inventory Count</th>
                <th style="background-color:#8C1B24;color:white;border: 1px solid black;">Freebies Available</th>
            </tr>

            <!--{% if details_dict.pipeline_suppliers.total_booked.supplier_data %}-->
            {% for supplier in details_dict.pipeline_suppliers.total_booked.supplier_data %}
                <tr style="border: 1px solid black;border: 1px solid black;">
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{loop.index}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_name}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.flat_count}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.tower_count}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_type_quality}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.society_locality}}({{supplier.society_subarea}})</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">{{supplier.booking_status}}</td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">
                        <div>
                            Poster : {% if supplier.inventory_counts.POSTER %}{{supplier.inventory_counts.POSTER}}{% else %} 0 {% endif %}<br />
                            Flyer : {% if supplier.inventory_counts.FLIER %}{{supplier.inventory_counts.FLIER}} {% else %} 0 {% endif %}<br />
                            Standee : {% if supplier.inventory_counts.STANDEE %}{{supplier.inventory_counts.STANDEE}} {% else %} 0 {% endif %}<br />
                            Stall : {% if supplier.inventory_counts.STALL %}{{supplier.inventory_counts.STALL}} {% else %} 0 {% endif %}<br />

                        </div>
                    </td>
                    <td style="height: 50px;vertical-align: bottom;border: 1px solid black;">
                        {% if supplier.freebies %}
                            {% for freebie in supplier.freebies %}
                                {{freebie}} <br />
                            {% endfor %}
                        {% else %}
                            No Freebies
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
            <!--{% endif %}-->
        </table>
    </body>
</html>
