<html>
    <style>
table, td, th {
    border: 1px solid black;
}

</style>
    <body>
        Dear {{first_name}} {{last_name}},<br><br>
        Please find the requested leads sheet attached to this email.
        <br><br>
        <b>Best Regards,<br> Client Servicing Team <br> Machadalo.com</b>
        <br> <br>
        <p>© 2018 Machadalo, Brand owned by Vijaikirti Technology Private Limited. All rights reserved.
            Copyright in the whole and any part of this document belongs to  Machadalo, Brand owned by
            Vijaikirti Technology Private Limited. This work may not be used, sold, transferred, adapted, abridged,
            copied or reproduced in whole or in part, in any manner or form, or in any media, without the prior written
            consent of  Machadalo, Brand owned by Vijaikirti Technology Private Limited.
            This mailer contains CONFIDENTIAL INFORMATION and is intended for the sole use of the addressee(s) only.
            The mailer is not to be forwarded to contacts who have not been addressed. For further details, visit <a href="https://platform.machadalo.com">Machadalo.com</a></p>
    </body>
</html>
