.fields{
  margin-bottom: 10px;
}
.business-panel{
	margin-top: 0px;
	padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
	width: 900px;
	align-self: flex-start;
}
.table-heading{
  background-color: #f2f2f2;
  text-align: left;
}
.table-position{
  padding-left: 0px !important;
}
.modal-align{
  text-align: left;
  padding-left: 20px;
}
.modal-align1{
  text-align: left;
  margin-left: 5px;
}
.textbox{
  margin-bottom: 8px !important;
}
