container_commands:
01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python coreapi/manage.py migrate --noinput"
    leader_only: true
02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python coreapi/manage.py collectstatic --noinput"
    leader_only: true
99_runscript:
    command: "source /opt/python/run/venv/bin/activate && python coreapi/manage.py runscript init_db"
