<link rel="stylesheet" href="modules/pages/DashBoard/OperationsDashBoard/opsdashboard.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
</br></br></br>
<!-- <back-Button></back-Button> -->
<div class="" permission = "[]">
  <div class="breadcrumb" ncy-breadcrumb></div>
</div>
<div style="margin-left:auto;margin-right:150px;width:8%">
  <button class="btn btn-primary active notify" style="text-align:right" ng-click="goToCampaignList()">List Campaigns</button>
</div>
<div ng-show="isEmpty" style="font-size:24px;text-align:center;"><span>{{msg}}</span></div>
<h3 ng-hide="hideData || isEmpty" style = "margin-left: 460px; margin-top: 60px;">Machadalo Operations Dashboard</h3>
<div class="content">
  <div class="container" ng-hide="hideData || isEmpty">
    <div class="row">
      <div class=" table-responsive panel panel-default">
        <table class="table table-fixed table-bordered" style="text-align: center;">
          <thead>
            <tr>
              <th ng-repeat="header in headings" style="text-align: center;">{{header.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="proposal in proposals">
              <td class="col-md-1" ng-click="showProposalDetails(proposal.proposal.proposal_id)">
                <a>{{proposal.proposal.proposal_id}}</a>
              </td>
              <td class="col-md-2">{{proposal.proposal.name}}</td>
              <td class="col-md-2">{{proposal.proposal.account}}</td>
              <td class="col-md-2">{{proposal.proposal.created_by}}</td>
              <td class="col-md-2">{{proposal.proposal.invoice_number}}</td>
              <td class="col-md-2">{{proposal.proposal.tentative_start_date|limitTo:10}}</td>
              <td class="col-md-2">{{proposal.proposal.tentative_end_date|limitTo:10}}</td>
              <td class="col-md-2" style="text-align:left">
                <div class="radio">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PTC" ng-click="convertProposalToCampaign(proposal)"  data-toggle="modal" ng-loading="loadSpinner">Accept</label>
                </div>
                <div class="radio">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="PNC" ng-click="convertCampaignToProposal(proposal)" data-toggle="modal">Decline</label>
                </div>
                <div class="radio">
                       <label><input type="radio" ng-model="proposal.proposal.campaign_state" value="POH" ng-click="updateCampaign(proposal)" data-target="#onHoldModal" data-toggle="modal">OnHold</label>
                </div>
              </td>
              <td class="col-md-2" ng-if="proposal.proposal.campaign_state == 'PTC'">
                {{proposal.assignment_detail.assigned_to}}
              </td>
              <td class="col-md-2" ng-if="proposal.proposal.campaign_state != 'PTC'">
                NA
              </td>
              <td class="col-md-2">
                <a href="{{bucket_url}}{{proposal.file_name}}" Download> Download </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- Start: Code for reason specifying modal-->
<div id="declineModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Specify Reason</h4>
        <hr/>
        <div class = "modal-body" style = "height: 300px;">
        <label>Please enter the reason in below box why this proposal can't be converted to campaign</label>
          <textarea name="reason" id="onDeclineReason" class="form-control" ng-model="reason"></textarea>
          <button class="btn btn-danger active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="onHoldModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Specify Reason</h4>
        <hr/>
        <div class = "modal-body" style = "height: 300px;">
        <label>Please enter the reason in below box why this proposal is on hold</label>
          <textarea name="reason" id="onHoldReason" class="form-control" ng-model="reason"></textarea>
          <button class="btn btn-danger active notify" ng-click="sendNotification()" ng-disabled="!reason.length > 0" ng-loading="loadSpinner">Notify</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- End: Code for reason specifying modal-->
<!-- Start: Code for assgining campaign -->
<div id="assignModal"  class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Assign Campaign to Operations Manager</h4>
        <hr/>
        <div class = "modal-body">
        <div class = "row">
        <label>Assign to:</label>
          <select ng-model= "userId">
            <option ng-repeat = "user in userList" value = "{{user.id}}">{{user.username}}</option>
          </select>
        </div>
          <button class="btn btn-danger active notify" ng-click="saveAssignment()">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Code for assgining campaign -->
<!-- <footer-bar></footer-bar> -->
