th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
}

.notify{
	margin-top: 15px;
}

.campaign-list{
	margin-left: 100px;
    font-size: x-large;
}
.breadcrumb{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}
.footer1{
  margin-top: 360px;
}
