th{
  	/*background: #808080;*/
    text-align: center;
  	color: #000;

}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
  min-width: 100%;
}

.notify{
	margin-top: 15px;
}

.campaign-list{
	margin-left: 100px;
    font-size: x-large;
}
.breadcrumb{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
  font-size : x-large;
}
.content{
  min-height: 350px;
}
.scrollableContainer {
   height: 600px;
 }
 table{
   text-align: center;
 }
table .cellWidth{
min-width: 100px;
}
table .cellWidthLarge{
min-width: 130px;
}
.panel{
  margin-top:20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
