<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="modules/pages/ProposalHistory/proposalHistory.tmpl.css" />
	<div class="page-container">
	<form name="historyDetails">
  		<div ng-repeat="proposal in proposals track by $index">
  			<div class="panel panel-default business-panel">
      		<div class="panel-heading"><h3>Saved At:  {{proposal.proposal.timestamp}}</h3>
      			<div class="table">
      				<div class="row">
          			<div class="col-md-3"><label>Proposal Id:</label></div>
          			<div class="col-md-3"><label>{{proposal.proposal.proposal}}</label></div>
          			<div class="col-md-3"><label>Proposal Name:</label></div>
          			<div class="col-md-3"><label>{{proposal.proposal.name}}</label></div>
          		</div>
      			<div ng-repeat="center in proposal.centers">
          			<div class="row">
	          			<div class="col-md-3">Center Name:</div>
	          			<div class="col-md-3">{{center.center.center_name}}</div>
	          			<div class="col-md-3">Center Address:</div>
	          			<div class="col-md-3">{{center.center.address}}</div>
          			</div>
          			<div class="row">
          				<div class="col-md-3">Shortlisted Societies Count:</div>
          				<div class="col-md-3">{{center.societies_shortlisted_count}}</div>
          				<div class="col-md-3">Buffered Societies Count:</div>
          				<div class="col-md-3">{{center.societies_buffered_count}}</div>
          			</div>
          			<div class="row">
          				<div class="col-md-3" ng-if="center.center.space_mappings.society_allowed">Inventories:</div>
          				<span ng-if="center.societies_inventory.poster_allowed">Poster</span>
						<span ng-if="center.societies_inventory.standee_allowed">Standee</span>
						<span ng-if="center.societies_inventory.stall_allowed">Stall</span>
						<span ng-if="center.societies_inventory.flier_allowed">Flyers</span>
						<span ng-if="center.societies_inventory.banner_allowed">Banner</span>
					</div>
					<br>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="col-md-2 table-heading">Society Name</th>
									<th class="col-md-2 table-heading">Society Address</th>
									<th class="col-md-2 table-heading">Society Sub-Area</th>
									<th class="col-md-2 table-heading">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="society1 in center.societies_shortlisted">
									<td>{{society1.society_name}}</td>
									<td>{{society1.society_address1}}</td>
									<td>{{society1.society_subarea}}</td>
									<td>Shortlisted</td>
								</tr>
								<tr ng-repeat="society1 in center.societies_buffered">
									<td>{{society1.society_name}}</td>
									<td>{{society1.society_address1}}</td>
									<td>{{society1.society_subarea}}</td>
									<td>Buffered</td>
								</tr>
							</tbody>
						</table>
					</div>
          		</div>
          		</div>
	      	</div>
	  		</div>
		</div>
	</div>
</form>
</html>

	
