<div ng-if= "proposals.length != 0">
	Proposal Name : {{proposals[0].proposal.name}}<br>
	Proposal ID   : {{proposals[0].proposal.proposal}}<br><br>

<div ng-repeat="proposal in proposals track by $index">
<h3>Saved at : {{ proposal.proposal.timestamp }}</h3><br>
	<div ng-repeat="center in proposal.centers">
		<h4>Center Name : {{center.center.center_name}} &nbsp;
		Center Address : {{center.center.address}} <br></h4>
		<div ng-if="center.center.space_mappings.society_allowed">
				<h4>
					Societies <br>
					Inventories Chosen : &nbsp;
					<span ng-if="center.societies_inventory.poster_allowed"> Poster </span>
					<span ng-if="center.societies_inventory.standee_allowed"> Standee </span>
					<span ng-if="center.societies_inventory.stall_allowed"> Stall </span>
					<span ng-if="center.societies_inventory.flier_allowed"> Flier </span>
					<span ng-if="center.societies_inventory.banner_allowed"> Banner </span><br>
				</h4>
				<h5>
					<strong> Shortlisted
						Count : {{center.societies_shortlisted_count}}<br>
					</strong>
				</h5>
				<div ng-repeat="society in center.societies_shortlisted">
					Society Name : {{society.society_name}} &nbsp;
					Society Address : {{ society.society_address1 }} <br>
					Society Subarea : {{ society.society_subarea }}<br><br>
				</div><br><br>

				<h5><strong>
					Buffered  
					Count : {{center.societies_buffered_count}}<br>
				</strong></h5>
				<div ng-repeat="society in center.societies_buffered">
					Society Name : {{society.society_name}} &nbsp;
					Society Address : {{ society.society_address1 }} <br>
					Society Subarea : {{ society.society_subarea }}<br><br>
				</div>
				
		</div>
	</div><br><br><br>
</div>
</div>