<div class="hpadding20">
    <div class="row">

       <div class="col-md-10" style="text-align: center;">
          <div class="row">
<!--Start: Carousel added to slide images-->
            <div class="carousel" id="slider-standee">

           <div class="carousel-inner" >
               <div class="item Image" ng-class="{active:!$index}"  ng-repeat="image in StandeeImages">
                 <div class="row" >
                   <img ng-src="http://mdimages.s3.amazonaws.com/{{image.image_url}}"  width="240px" height="160"/>
                   <img ng-src="http://mdimages.s3.amazonaws.com/{{StandeeImages[$index+1].image_url}}"  width="240px" height="160" />
                 </div>
                 <a class="left carousel-control"  href="#slider-standee" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                 </a>
                 <a class="right carousel-control"   href="#slider-standee" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                 </a>
               </div>
           </div>
        </div>
<!--End: Carousel added to slide images-->

             <!-- <div style="margin-left:10px" ng-repeat="image in society_images" ng-if="image.name=='Standee Space'" class="col-md-4"><img src="http://mdimages.s3.amazonaws.com/{{image.image_url}}" width="180px" height="180px" margin-right="5px"alt=""/></div> -->
          </div>
       </div>

    </div><br>
</div>
<div class="hpadding20">
		<div class="line4"></div>
    <span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Size & Number</span><br>
    <span class="opensans dark size16 bold grey">Total Standee Spaces: {{inventoryDetails.standee_campaign}}</span><br><br>
</div>

<div class="hpadding20">
	 <div class="col-md-4 offset-0">
      <div class="sctext left margtop15" style="color:#0fa491">5<br>
        <center><label style="font-size:15px; color:#c0c0c0">Lobby Spaces</label></center>
      </div>
      	<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
			<div class="sctext left margtop15 " style="color:#0fa491">
        <span ng-if="inventoryDetails.standee_small">Small</span>
  			<span ng-if="inventoryDetails.standee_medium">, Medium</span><br>
          <center><label style="font-size:15px; color:#c0c0c0">Standees size</label></center>
      </div>
			<div class="clearfix"></div>
   </div>
	 <div class="col-md-4 offset-0">
			 <div class="sctext left margtop15 " style="color:#0fa491">Near Lift<br>
          <center><label style="font-size:15px; color:#c0c0c0">Standee Area</label></center>
       </div>
			 <div class="clearfix"></div>
   </div>
	 <div class="clearfix"></div><br/>
</div>
</div><!-- check this-->
<!-- <div class="hpadding20">
		<div class="col-md-4 offset-0" >
			 <div class="sctext left margtop15" style="color:#0fa491">5<br>
          <center><label style="font-size:15px; color:#c0c0c0">Spaces in Common Area</label></center>
       </div>
			 <div class="clearfix"></div>
		</div>
		<div class="col-md-4 offset-0">
			 <div class="sctext left margtop15" style="color:#0fa491">5*2/6*3(in ft)<br>
           <center><label style="font-size:15px; color:#c0c0c0">Standee size</label></center>
       </div>
			 <div class="clearfix"></div>
    </div>
		<div class="col-md-4 offset-0">
       <div class="sctext left margtop15 " style="color:#0fa491"><br>
          <center><label style="font-size:15px; color:#c0c0c0">Standee Area</label></center>
       </div>
			 <div class="clearfix"></div>
		</div>
		<div class="clearfix"></div><br/>
</div> -->
<div class="hpadding20">
		<div class="line4"></div>
		<span class="opensans dark size16 bold grey" style="color:#000; font-style:bold">Booking Information</span><br><br>
</div>

<div class="hpadding20">
		<div class="col-md-4 offset-0">
				<div class="sctext left margtop15 " style="color:#0fa491">Minimum Weekly<br>
           <center><label style="font-size:15px; color:#c0c0c0">Display Duration</label></center>
        </div>
        <div class="clearfix"></div>
		</div>
    <div class="col-md-4 offset-0">
				<div class="sctext left margtop15" style="color:#0fa491">{{society.tower_count}}<br>
            <center><label style="font-size:15px; color:#c0c0c0">Minimum Booking</label></center>
        </div>
						<div class="clearfix"></div>
		</div>
    <div class="col-md-4 offset-0"></div>
  	<div class="clearfix"></div><br/>
</div>
