<link rel="stylesheet" href="modules/pages/releaseCampaignPlan/releaseCampaign.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<div ng-loading="loading"></div>
</br></br></br>
<div ng-if="!backButton" permission="[campaign_manager]">
  <back-Button></back-Button>
</div>
<div class="" permission = "[]">
  <div class="breadcrumb" ncy-breadcrumb></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
      <h3>Campaign Release and Audit Plan</h3>
  </div>
    <div class = "panel-body">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <Label>Campaign Id:</Label><span class = "proposal-details">{{releaseDetails.campaign.proposal_id}}</span>
              <Label class = "labels">Campaign Name:</Label><span class = "proposal-details">{{releaseDetails.campaign.name}}</span>
              <Label class = "labels">BD Owner:</Label><span class = "proposal-details">{{releaseDetails.campaign.created_by}}</span>
              <Label class = "labels">Campaign State:&nbsp;</Label><span class = "proposal-details">{{getCampaignState(releaseDetails.campaign.campaign_state)}}</span>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- <div class="container"> -->
  <!-- <div class="row" style="margin-left:10px;"> -->
    <div class=" panel panel-default table-style" >
      <table class="table-bordered table-responsive table-scroll table-striped" style="text-align: center;word-wrap:break-word;">
        <thead>
          <tr>
            <th ng-repeat="header in headings">{{header.header}}</th>
          </tr>
        </thead>
        <tbody ng-repeat="supplier in releaseDetails.shortlisted_suppliers">
          <tr ng-repeat="(key,filter) in getFilters(supplier)">
            <td rowspan="{{key.length}}" ng-show="$first">{{$parent.$index + 1}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.name}}({{supplier.object_id}})</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.area}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.subarea}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.address1}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.address2}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.flat_count}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{supplier.tower_count}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first" ng-if="supplier.status == statusCode.shortlisted">{{shortlisted}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first" ng-if="supplier.status == statusCode.buffered">{{buffered}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first" ng-if="supplier.status == statusCode.removed">{{removed}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first" ng-if="supplier.status == statusCode.finalized">{{finalized}}</td>

            <!-- <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.object_id}}</td> -->
            <td class="" ng-if="key=='NA'">{{key}}</td>
            <td class="" ng-if="key!='NA'"><a class="" data-target="#invTypeModal" data-toggle="modal" ng-click="setInventoryIds(filter)" permission = "[permissions.viewInventoryIds]"><b>{{key}}</b></a></td>
            <td class="" ng-if="key=='FLIER'">{{supplier.flat_count}}</td>
            <td class="" ng-if="key!='FLIER'">{{filter.total_count}}</td>
            <td class="">{{getInventoryPrice(filter.actual_supplier_price,key)}}</td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">{{getTotalSupplierPrice(supplier)}}</td>
            <td class="col-md-2" rowspan="{{key.length}}" ng-show="$first" ng-form name="priceform">
              <span class="error" ng-show="priceform.price.$error.min">{{positiveNoError}}</span>
              <input type="number" name="price" ng-model="supplier.total_negotiated_price" class="form-control spacing input-width" min="0" permission = "[permissions.addNegotiatedPrice,permissions.viewNegotiatedPrice]">
            </td>
            <td class="col-md-2" rowspan="{{key.length}}" ng-show="$first">
              <select class="form-control spacing input-width" ng-model="supplier.booking_status" permission = "[permissions.changeBookingStatus,permissions.viewBookingStatus]">
                <option ng-repeat="item in booking_status" value="{{item.code}}">{{item.name}}</option>
              </select>
            </td>
            <td class="" rowspan="{{key.length}}" ng-show="$first" ng-form name="phaseform">
              <input type="number" name="phase" class="form-control spacing input-width-phase" ng-model="supplier.phase" min="1" ng-disabled="supplier.booking_status != 'BK'" permission = "[permissions.addPhase, permissions.viewPhase]">
              <span class="error" ng-show="phaseform.phase.$error.min">{{positiveNoError}}</span>
            </td>
            <!--mode of payment  -->
            <td class="" style="text-align:left" rowspan="{{key.length}}" ng-show="$first">
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_method" value="NEFT" ng-click="updateSupplierStatus()" permission = "[permissions.viewPaymentMode,permissions.addPaymentMode]" ng-disabled="supplier.booking_status != 'BK'">NEFT</label>
              </div>
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_method" value="CHEQUE" ng-click="updateSupplierStatus()" permission = "[permissions.viewPaymentMode,permissions.addPaymentMode]" ng-disabled="supplier.booking_status != 'BK'">Cheque</label>
              </div>
              <div class="radio" ng-if="supplier.status != 'X'">
                     <label><input type="radio" ng-model="supplier.payment_method" value="CASH" ng-click="updateSupplierStatus()" permission = "[permissions.viewPaymentMode,permissions.addPaymentMode]" ng-disabled="supplier.booking_status != 'BK'">Cash</label>
              </div>
              <div style="text-align:center">
                <a data-target="#paymentModal" data-toggle="modal" ng-click="setPayment(supplier)" permission = "[permissions.viewPaymentDetails]"><b>Details</b></a>
              </div>
            </td>
            <td class="" rowspan="{{key.length}}" ng-show="$first">
              <a class="" data-target="#contactModal" data-toggle="modal" ng-click="setContact(supplier)"><b>View Contact Details</b></a>
            </td>
            <!--for payment status  -->
            <td class="" style="text-align:left" rowspan="{{key.length}}" ng-show="$first">
              <div class="radio" permission = "[permissions.viewPaymentDetails]">
                     <label><input type="radio" ng-model="supplier.payment_status" value="PD" ng-click="updateSupplierStatus()" ng-disabled="supplier.booking_status != 'BK'">Paid</label>
              </div>
              <div class="radio" permission = "[permissions.viewPaymentDetails]">
                <label><input type="radio" ng-model="supplier.payment_status" value="PP" ng-click="updateSupplierStatus()" ng-disabled="supplier.booking_status != 'BK'">Pending</label>
              </div>
              <div class="radio" ng-if="supplier.status != 'X'" permission = "[permissions.viewPaymentDetails]">
                     <label><input type="radio" ng-model="supplier.payment_status" value="PNI" ng-click="updateSupplierStatus()" ng-disabled="supplier.booking_status != 'BK'">Not Paid</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->
  <div class = "row">
    <span class = "col-md-6">
      <button class="btn btn-danger active notify" style="text-align:left; margin-left:10px" ng-click="updateData()" permission = "[permissions.updateData]">Update</button>
    </span>
      <span class = "col-md-6" style="text-align:right">
        <button class="btn btn-danger active notify" style="text-align:right" ng-click="changeLocation()">Planning Release-Audit</button>
      </span>
  </div>


  <!-- </div> -->
<!-- </div> -->
<!--Start: Code for contacts Modal Window -->
<div id="contactModal" class="modal fade">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 650px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 650px; height: 350px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th ng-repeat="header in contact_headings" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "contact in contacts">
                    <td>{{contact.salutation}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.contact_type}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.std_code}}</td>
                    <td>{{contact.landline}}</td>
                    <td>{{contact.mobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for contacts Modal Window -->

<!--Start: Code for payment mode Modal Window -->
<div id="paymentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Mode of Payment Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 200px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in payment_headings" class="col-md-2 alignment"><b>{{header.header}}</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="alignment">{{payment.name_for_payment}}</td>
                <td class="alignment">{{payment.bank_name}}</td>
                <td class="alignment">{{payment.ifsc_code}}</td>
                <td class="alignment">{{payment.account_no}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for payment Modal Window -->
<!--Start: Code for inventory_type Modal Window -->
<div id="invTypeModal" class="modal fade">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Inventory Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 250px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 250px; height: 250px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-md-2" style="text-align: center;"><b>Inventory Id</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "item in inventoryIds">
                    <td>{{item.inventory_id}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for inventory type Modal Window -->

<!-- <div><footer-bar></footer-bar></div>
