<link rel="stylesheet" href="modules/pages/releaseCampaignPlan/releaseCampaign.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<h3 style = "margin-left: 460px; margin-top: 70px;">Campaign Release and Audit Plan</h3>
  <div class = "container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <Label>Campaign Id:</Label><span class = "proposal-details">{{releaseDetails.campaign.proposal_id}}</span>
            <Label class = "labels">Campaign Name:</Label><span class = "proposal-details">{{releaseDetails.campaign.name}}</span>
            <Label class = "labels">BD Owner:</Label><span class = "proposal-details">{{releaseDetails.campaign.created_by}}</span>
          </div >
         </div>
      </div>
  </div>
<div class="container">
  <div class="row">
    <div class=" table-responsive panel panel-default">
      <table class="table table-fixed table-bordered" style="text-align: center;">
        <thead>
          <tr>
            <th ng-repeat="header in headings" class="col-md-2" style="text-align: center;">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat="release in releaseDetails">
            <td class="col-md-1">{{releaseDetails.supplier_name}}</td>
            <td class="col-md-2">{{releaseDetails.area}}</td>
            <td class="col-md-2">{{releaseDetails.sub_area}}</td>
            <td class="col-md-2">Poster</td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
            <td class="col-md-2"><textarea name="comments" class="form-control"></textarea></td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
          </tr> use this code when integrated-->
          <tr>
            <td class="col-md-1">Powai Palazzio</td>
            <td class="col-md-2">Powai</td>
            <td class="col-md-2">Hiranandani Gardens</td>
            <td class="col-md-2">Poster</td>
            <td class="col-md-2">
              <input type="text" ng-model="campaign_start_date" class="form-control spacing" uib-datepicker-popup="{{format}}" is-open="popup1" min-date="today" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-model-options="{timezone:'UTC'}"/>
            </td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
            <td class="col-md-2"><textarea name="comments" class="form-control"></textarea></td>
            <td class="col-md-2">
              <input type="text" class="form-control spacing">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-danger active notify" ng-click="saveDetails()">Update</button>
</div>
<div><footer-bar></footer-bar></div>