<link rel="stylesheet" href="modules/pages/releaseCampaignPlan/releaseCampaign.tmpl.css"/>
<div><nav-bar></nav-bar></div>
</br></br></br><back-Button></back-Button>
<h3 style = "margin-left: 460px; margin-top: 70px;">Campaign Release and Audit Plan</h3>
  <div class = "container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <Label>Campaign Id:</Label><span class = "proposal-details">{{releaseDetails.campaign.proposal_id}}</span>
            <Label class = "labels">Campaign Name:</Label><span class = "proposal-details">{{releaseDetails.campaign.name}}</span>
            <Label class = "labels">BD Owner:</Label><span class = "proposal-details">{{releaseDetails.campaign.created_by}}</span>
          </div >
         </div>
      </div>
  </div>
</div>
<!-- <div class="container"> -->
  <!-- <div class="row" style="margin-left:10px;"> -->
    <!-- <div class=" table-responsive" > -->
      <table class="table-bordered table-responsive table-scroll" style="text-align: center;table-layout:fixed;word-wrap:break-word;">
        <thead>
          <tr>
            <th ng-repeat="header in headings" style="text-align: center;">{{header.header}}</th>
          </tr>
        </thead>
        <tbody ng-repeat="supplier in releaseDetails.shortlisted_suppliers">
          <tr ng-repeat="(key,filter) in getFilters(supplier)">
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.name}}({{supplier.object_id}})</td>
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.area}}</td>
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.subarea}}</td>
            <!-- <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.object_id}}</td> -->
            <td class="col-md-1" ng-if="key=='NA'">{{key}}</td>
            <td class="col-md-1" ng-if="key!='NA'"><a class="" data-target="#invTypeModal" data-toggle="modal" ng-click="setInventoryIds(filter)"><b>{{key}}</b></a></td>
            <td class="col-md-1">{{filter.total_count}}</td>
            <td class="col-md-1">{{filter.supplier_price}}</td>
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">{{supplier.total_inventory_supplier_price}}</td>
            <td class="col-md-2" rowspan="{{key.length}}" ng-show="$first"><input type="number" ng-model="supplier.total_negotiated_price" class="form-control spacing col-width"></td>
            <td class="col-md-2" rowspan="{{key.length}}" ng-show="$first">
              <select class="form-control spacing" ng-model="supplier.booking_status">
                <option ng-repeat="item in booking_status" value="{{item.code}}">{{item.name}}</option>
              </select>
            </td>
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first"><input type="number" class="form-control spacing" ng-model="supplier.phase"></td>
            <!--mode of payment  -->
            <td class="col-md-1" style="text-align:left" rowspan="{{key.length}}" ng-show="$first">
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_method" value="NEFT" ng-click="updateSupplierStatus()">NEFT</label>
              </div>
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_method" value="CHEQUE" ng-click="updateSupplierStatus()">Cheque</label>
              </div>
              <div class="radio" ng-if="supplier.status != 'X'">
                     <label><input type="radio" ng-model="supplier.payment_method" value="CASH" ng-click="updateSupplierStatus()">Cash</label>
              </div>
              <div style="text-align:center">
                <a data-target="#paymentModal" data-toggle="modal" ng-click="setPayment(supplier)"><b>Details</b></a>
              </div>
            </td>
            <td class="col-md-1" rowspan="{{key.length}}" ng-show="$first">
              <a class="" data-target="#contactModal" data-toggle="modal" ng-click="setContact(supplier)"><b>View Contact Details</b></a>
            </td>
            <!--for payment status  -->
            <td class="col-md-1" style="text-align:left" rowspan="{{key.length}}" ng-show="$first">
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_status" value="PD" ng-click="updateSupplierStatus()">Paid</label>
              </div>
              <div class="radio">
                     <label><input type="radio" ng-model="supplier.payment_status" value="PP" ng-click="updateSupplierStatus()">Pending</label>
              </div>
              <div class="radio" ng-if="supplier.status != 'X'">
                     <label><input type="radio" ng-model="supplier.payment_status" value="PNI" ng-click="updateSupplierStatus()">Not Paid</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  <!-- </div> -->
  <div class = "row">
    <span class = "col-md-6">
      <button class="btn btn-danger active notify" style="text-align:left; margin-left:10px" ng-click="updateData()">Update</button>
    </span>
      <span class = "col-md-6" style="text-align:right">
        <button class="btn btn-danger active notify" style="text-align:right" ng-click="changeLocation()">Planning Release-Audit</button>
      </span>
  </div>


  <!-- </div> -->
<!-- </div> -->
<!--Start: Code for contacts Modal Window -->
<div id="contactModal" class="modal fade">
  <div class="modal-dialog" style="width:700px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 650px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 650px; height: 350px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th ng-repeat="header in contact_headings" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "contact in contacts">
                    <td>{{contact.salutation}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.contact_type}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.std_code}}</td>
                    <td>{{contact.landline}}</td>
                    <td>{{contact.mobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for contacts Modal Window -->

<!--Start: Code for payment mode Modal Window -->
<div id="paymentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Mode of Payment Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 200px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in payment_headings" class="col-md-2 alignment"><b>{{header.header}}</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="alignment">{{payment.name_for_payment}}</td>
                <td class="alignment">{{payment.bank_name}}</td>
                <td class="alignment">{{payment.ifsc_code}}</td>
                <td class="alignment">{{payment.account_no}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for payment Modal Window -->
<!--Start: Code for inventory_type Modal Window -->
<div id="invTypeModal" class="modal fade">
  <div class="modal-dialog" style="width:300px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Inventory Details</h4>
        <hr/>
        <div class = "modal-body" style = "width: 250px; height: 300px;">
          <div class="modal-body col-md-4 table-responsive" style="width: 250px; height: 250px">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-md-2" style="text-align: center;"><b>Inventory Id</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "item in inventoryIds">
                    <td>{{item.inventory_id}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for inventory type Modal Window -->

<div><footer-bar></footer-bar></div>
