  <!--Dashboard start  -->
<link rel="stylesheet" href="modules/pages/manageUsers/user.tmpl.css"/>
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="modules/common/header/menu-bar-tmpl.css"/>
<div><nav-bar></nav-bar></div>

<div  class="container-fluid">
  <!-- <div class="row"> -->
      <div class="col-sm-4">
          <div class="nav-side-menu" style="width:20%;margin-left:-30px;">
              <div class="brand">Menu</div>
              <i class="fa fa-bars fa-2x toggle-btn"></i>
              <div class="menu-list">
                  <ul id="menu-content" class="menu-content collapse out">
                      <li ng-class="{active: isActive('/manageCampaign/create')}">
                        <a class="lipadding" ng-click="getContent(contentItem.createUser)">
                          <i class="fa fa-tasks fa-lg"></i>Create User</a>
                      </li>
                      <li ng-class="{active: isActive('/OpsDashBoard')}">
                        <a class=" lipadding" ng-click="getContent(contentItem.createGroup)">
                          <i class="fa fa-dashboard fa-lg"></i>Create Group</a>
                     </li>
                     <li ng-class="{active: isActive('/OpsDashBoard')}">
                       <a class=" lipadding" ng-click="getContent(contentItem.viewUsers)">
                         <i class="fa fa-dashboard fa-lg"></i>View Users</a>
                    </li>
                    <!-- <li ng-class="{active: isActive('/OpsDashBoard')}">
                      <a class=" lipadding" ng-click="getContent(contentItem.viewGroups)">
                        <i class="fa fa-dashboard fa-lg"></i>View Groups</a>
                   </li> -->
                  <li ng-class="{active: isActive('/OpsDashBoard')}">
                    <a class=" lipadding" ng-click="getContent(contentItem.profileView)">
                      <i class="fa fa-dashboard fa-lg"></i>View Profiles</a>
                 </li>
                 <li ng-class="{active: isActive('/OpsDashBoard')}">
                   <a class=" lipadding" ng-click="getContent(contentItem.organisationCommon)">
                     <i class="fa fa-dashboard fa-lg"></i>View Organisations
                   </a>
                </li>
                  </ul>
              </div>
          </div>
      </div>
  <!-- </div> -->

<!--start: content  -->
<div class="col-sm-8" style="margin-left:25%;margin-top:5%;" ng-switch on="menuItem.name">
  <div class="">
  <div ng-switch-when='createUser' id="createUser" style="margin-right:20%;margin-left:30%">
    <div>
      <h3 class="createUser">Create New User</h3><hr>
      <div class="row main">
        <div class="main-login main-center">
          <form class="" name="registerForm" method="post" ng-submit= "register()" role="form">
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">First Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="firstname" id="firstname"  placeholder="Enter First Name" ng-model="model.first_name" required/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Last Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Enter Last Name" ng-model="model.last_name"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" ng-model="model.username" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Email Id</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="email" class="form-control" name="email" id="email"  placeholder="Enter Email"
                  ng-model="model.email" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model= "model.password" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" ng-model="model.confirm_password" ng-change="validatePassword()"required/>
                </div>
                <span ng-if="!isValid && model.confirm_password">{{passwordError}}</span>

              </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Organisation :</label>
                <span ng-if="userInfo.profile.organisation.name != 'Machadalo'">{{userInfo.profile.organisation.name}}</span>
                <select ng-if="userInfo.profile.organisation.name == 'Machadalo'" class="form-control" ng-model="model.organisation" ng-change="getProfiles(model.organisation)">
                  <option ng-repeat="organisation in organisationList" value="{{organisation.organisation_id}}">{{organisation.name}}</option>
                </select>
            </div>

            <!--start: adding group  -->
            <div class=" dropup">
              <label for="confirm" class="cols-sm-2 control-label">Assign Profile</label>

                  <!-- <li role="presentation">
                      <div class="input-group input-group-sm search-control">
                         <span class="input-group-addon">
                              <span class="glyphicon glyphicon-search"></span>
                          </span>
                          <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
                      </div>
                  </li> -->

              <select class="form-control" name="" ng-model="model.profile">
                <option ng-repeat="profile in profilesList" ng-value="{{profile.id}}" >{{profile.name}}</option>
              </select>
            </div>

            <div class="form-group ">
              <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" ng-disabled="!isValid">Create User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-switch-when='createGroup'>
    <div style="margin-left:15px;" ng-if="!isEditGroup"><h3>Create New Group</h3></div></br></br>
    <div style="margin-left:15px;" ng-if="isEditGroup"><h3>Edit Group :</h3></div></br></br>
    <div class="col-md-6 form-horizontal model-body">
      <div class="form-group">
          <label class="col-md-4 control-label" style="text-align:left">Group Name</label>
          <div class="col-md-3 controls">
            <input type="text" class="form-control groupInput" placeholder="Enter Group Name" ng-model="groupName.name"/>
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" style="text-align:left">Add Permissions</label>
        <div class="dropdown dropdown-scroll col-md-6">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Add Permission <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                  <div class="input-group input-group-sm search-control">
                     <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search"></span>
                      </span>
                      <input type="text" class="form-control" placeholder="Search Permission" ng-model="query"></input>
                  </div>
              </li>
              <li role="presentation" ng-repeat='permission in permissionsDict.slice(1,permissionsDict.length) | filter:query'>
                <input type="checkbox" ng-model="permission.selected" ng-click="addPermission(permission,$index)" style="margin-left:10px;"/>
                <a style="display:-webkit-inline-box;">{{permission.name}}</a>
              </li>
          </ul>
        </div>
      </div></br></br>
      <div class="col-md-2 form-group">
        <button ng-if="permissionList.length && groupName.name && !isEditGroup" class="btn btn-primary active" ng-click="createGroup()">Create Group</button>
        <button ng-if="permissionList.length && groupName.name && isEditGroup" class="btn btn-primary active" ng-click="updateGroupDetails()">Update</button>
      </div>
    </div>

    <div class="col-md-4 list-permission" ng-if="permissionList.length">
      <h2>Permissions :</h2>
      <ul class="dropdown-list">
          <li ng-repeat="permission in permissionList">{{permission.name}}</li>
      </ul>
    </div>
  </div>
  <!--start: users list  -->
  <div ng-switch-when='viewUsers' id="viewUsers">
    <h3 style="text-align:center">List of Users</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <th ng-repeat="header in userInfoHeaders">
          {{header.header}}
        </th>
        <tbody>
          <tr ng-repeat="user in usersList">
            <td class="col-md-1"> {{user.first_name}} </td>
            <td class="col-md-1"> {{user.last_name}} </td>
            <td class="col-md-2"> {{user.email}} </td>
            <td class="col-md-2"> {{user.username}} </td>
            <td class="col-md-2">
              <a ng-click="goToOrganisation(contentItem.organisation,'view',user.profile.organisation)">{{user.profile.organisation.name}}
            </td>
            <td class="col-md-2">
              <a ng-click="goToProfiles(contentItem.profile,'view',user.profile)">{{user.profile.name}}</a>
            </td>
            <td class="col-md-1" ><a data-toggle="tooltip" title="Edit" ng-click="getContent(contentItem.editUser,user)">
              <span class="glyphicon glyphicon-edit"></span></a></td>
            <td class="col-md-1">
               <a data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash" ng-click="deleteUser(user)"></span></a>
            </td>
            <td>
              <a data-target="#passwordModal" data-toggle="modal" ng-click="setPasswordDetails(user)">click here</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  <!--end: users list  -->
  <!--start: edit user  -->
  <div ng-switch-when='editUser' id="editUser">
    <h3>Edit User Details<hr></h3>
    <div class="row">
      <label for="name" class="cols-sm-2 ">First Name :</label></br>
          <input type="text" class="form-control form-user"  ng-model="userDetails.first_name" required/>
    </div></br>
    <div class="row">
      <label for="name" class="cols-sm-2 ">Last Name :</label></br>
          <input type="text" class="form-control form-user"  ng-model="userDetails.last_name" required/>
    </div></br>
    <div class="row">
      <label for="name" class="cols-sm-2 ">Email Id :</label></br>
          <input type="text" class="form-control form-user" ng-model="userDetails.email" required/>
    </div></br>
    <div class="row">
      <label for="name" class="cols-sm-2 ">Username :</label></br>
          <input type="text" class="form-control form-user" ng-model="userDetails.username" required/>
    </div></br>
    <div class="row">
      <label for="name" class="cols-sm-2 ">Mobile :</label></br>
          <input type="number" class="form-control form-user" ng-model="userDetails.mobile" required/>
    </div></br>
    <div class="row">
        <label class="cols-sm-2">Organisation :</label></br>
        <span ng-if="userInfo.profile.organisation.name != 'Machadalo'">{{userInfo.profile.organisation.name}}</span>
        <select ng-if="userInfo.profile.organisation.name == 'Machadalo'" class="form-control form-user" ng-model="model.organisation" ng-change="getProfiles(model.organisation)">
          <option ng-repeat="organisation in organisationList" value="{{organisation.organisation_id}}">{{organisation.name}}</option>
        </select>
    </div>

    <div class=" row dropup">
      <label for="confirm" class="cols-sm-2 control-label">Assign Profile</label><br>

          <!-- <li role="presentation">
              <div class="input-group input-group-sm search-control">
                 <span class="input-group-addon">
                      <span class="glyphicon glyphicon-search"></span>
                  </span>
                  <input type="text" class="form-control" placeholder="Query" ng-model="query"></input>
              </div>
          </li> -->

      <select class="form-control form-user" ng-model="userDetails.profile">
        <option ng-repeat="profile in profilesList" ng-value="{{profile.id}}" >{{profile.name}}</option>
      </select>
    </div>
    <div class="form-group ">
      <ul class="">
          <li ng-repeat="group in userDetails.groups">{{group.name}}</li>
      </ul>
    </div>
    <div class="form-group">
      <button type="submit" id="button" class="btn btn-primary active" ng-click="updateUserDetails(userDetails)">Update</button>
    </div>
  </div>
  <!--end: edit user  -->
  <!--start: users list  -->
  <div ng-switch-when='viewGroups' id="viewGroups">
    <div class="">
      <h3 class="col-md-7" style="text-align:center">List of Groups</h3></br>
      <table class="table-responsive table-bordered table" style="width:60%">
        <th ng-repeat="header in groupHeaders">
          {{header.header}}
        </th>
        <tbody>
          <tr ng-repeat="group in permissionGroups">
            <td class="col-md-2"> {{group.name}} </td>
            <td class="col-md-1" ><a data-toggle="tooltip" title="Edit" ng-click="getContent(contentItem.editGroup,group)">
              <span class="glyphicon glyphicon-edit"></span></a></td>
            <td class="col-md-1">
               <a data-toggle="tooltip" title="Delete"><span class="glyphicon glyphicon-trash" ng-click="deleteGroup(group)"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
  <!--end: users list  -->
  <!--Start: profile tab -->
  <div class="" ng-switch-when="profile" id="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 ng-if="operationProfile.create">Create Profile</h3>
          <h3 ng-if="operationProfile.edit || operationProfile.view">Profile Details</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label>Profile Name:</label>
              <input ng-if="operationProfile.create || operationProfile.edit" type="text" class="form-control" ng-model="profileData.name">
              <span ng-if="operationProfile.view">{{profileData.name}}</span>
            </div>
            <div class="form-group">
              <label>Is Standard Profile:</label>&nbsp;&nbsp;
              <input ng-if="operationProfile.create || operationProfile.edit" type="radio" ng-model="profileData.is_standard" ng-value="true">
              <span ng-if="operationProfile.create || operationProfile.edit">Yes</span> &nbsp;
              <input ng-if="operationProfile.create || operationProfile.edit" type="radio" ng-model="profileData.is_standard" ng-value="false">
              <span ng-if="operationProfile.create || operationProfile.edit">No</span>
              <span ng-if="operationProfile.view">{{profileData.is_standard}}</span>
            </div>
            <div class="form-group">
              <label>Organisation :</label>
              <select ng-if="operationProfile.create || operationProfile.edit" class="form-control" name="" ng-model="profileData.organisation">
                <option ng-repeat="organisation in organisationList" value="{{organisation.organisation_id}}">{{organisation.name}}</option>
              </select>
              <span ng-if="operationProfile.view">{{organisationMappedIdList[profileData.organisation].name}}</span>
            </div>
            <div class="align-right-btn">
              <button ng-if="operationProfile.create" class="btn btn-danger" ng-click="createProfile()">Create</button>
              <button ng-if="operationProfile.edit" class="btn btn-danger" ng-click="updateProfile()">UpdateProfile</button>
            </div>
          </form>
        </div>

        <!--start: object level permissions  -->
        <div class="panel-heading">
          <h3>Object Level Permissions</h3>
        </div>
        <div class="panel-body">
          <div class = "table">
            <div class="form-group">
               <div class = "row">

                 <div class = "col-md-6">
                   <button type="button" class="btn btn-danger active" name="button">Clone Profile</button>
                 </div>

                 <div class = "col-md-6 align-right-btn">
                   <button class="btn btn-danger active" data-toggle="modal" data-target="#createObjectLevelPermissionModal" data-backdrop="static" data-keyboard="false">
                     Create Object Level Permission
                   </button>
                 </div>
               </div>
             </div>
           </div>
           <!--list of object-level-permissions  -->
           <div class="panel-body organisation-view-tab-content">
             <span ng-if="!profileData.object_level_permission.length">No Permissions Assigned</span>
             <div class = "table" ng-if="profileData.object_level_permission.length">
               <div class="form-group">
                  <div class = "row organisation-view-tab">
                    <div class = "col-md-2"><label>Index </label></div>
                    <div class = "col-md-3"><label>Name </label></div>
                    <div class = "col-md-1"><label>View </label></div>
                    <div class = "col-md-1"><label>Edit </label></div>
                    <div class = "col-md-1"><label>Create </label></div>
                    <div class = "col-md-1"><label>Delete </label></div>
                    <div class = "col-md-1"><label>View All </label></div>
                    <div class = "col-md-2"><label>Update All </label></div>
                  </div></br>
                  <div class = "row" ng-repeat="permission in profileData.object_level_permission">
                    <div class = "col-md-2">
                      {{$index+1}}
                    </div>
                    <div class = "col-md-3">
                      <label>{{permission.name}}</label>
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.view" ng-value="{{permission.view}}">
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.update" ng-value="{{permission.update}}">
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.create" ng-value="{{permission.create}}">
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.delete" ng-value="{{permission.delete}}">
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.view_all" ng-value="{{permission.view_all}}">
                    </div>
                    <div class = "col-md-2">
                      <input type="checkbox" ng-model="permission.update_all" ng-value="{{permission.update_all}}">
                    </div>

                  </div></br>
                </div>
              </div>
           </div>
        </div>
        <!--end : object level permissions  -->

        <!--start: heneral user level  permissions  -->
        <div class="panel-heading">
          <h3>General User Level Permissions</h3>
        </div>
        <div class="panel-body">
          <div class = "table">
            <div class="form-group">
               <div class = "row">
                 <div class = "col-md-6 align-right-btn">
                   <button class="btn btn-danger active" data-toggle="modal" data-target="#createGeneralUserPermissionModal" data-backdrop="static" data-keyboard="false">
                     Create General User Level Permission
                   </button>
                 </div>
               </div>
             </div>
           </div>
           <!--list of general user -level-permissions  -->
           <div class="panel-body organisation-view-tab-content">
             <span ng-if="!profileData.general_user_permission.length">No Permissions Assigned</span>
             <div class = "table" ng-if="profileData.general_user_permission.length">
               <div class="form-group">
                  <div class = "row organisation-view-tab">
                    <div class = "col-md-2"><label>Index </label></div>
                    <div class = "col-md-3"><label>Name </label></div>
                    <div class = "col-md-3"><label>Is Allowed </label></div>

                  </div></br>
                  <div class = "row" ng-repeat="permission in profileData.general_user_permission">
                    <div class = "col-md-2">
                      {{$index+1}}
                    </div>
                    <div class = "col-md-3">
                      <label>{{permission.name.split("_").join(" ");}}</label>
                    </div>
                    <div class = "col-md-1">
                      <input type="checkbox" ng-model="permission.is_allowed" ng-value="{{permission.is_allowed}}">
                    </div>
                  </div></br>
                </div>
              </div>
           </div>
        </div>
        <!--end : general user level permissions  -->
    </div>
  </div>
  <!--End: profile tab -->
  <!--Start: organisation tab -->
  <div class="" ng-switch-when="organisation" id="organisation">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 ng-if="operationOrganisation.view || operationOrganisation.edit">Organisation Details</h3>
          <h3 ng-if="operationOrganisation.create">Create Organisation</h3>
        </div>
        <div class="panel-body">
          <div class = "table">
            <div class="form-group">
               <div class = "row">
                 <div class = "col-md-3"><label>Organisation Name </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="text" class="form-control" ng-model="organisationData.name" ng-required="true" />
                   <span ng-if="operationOrganisation.view">{{organisationData.name}}</span>
                 </div>
                 <div class = "col-md-3"><label>Mobile No </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="text" class="form-control input-size" ng-model="organisationData.phone"/>
                   <span ng-if="operationOrganisation.view">{{organisationData.phone}}</span>
                 </div>
               </div></br>

               <div class = "row">
                 <div class = "col-md-3"><label>Email Address </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="email" class="form-control" ng-model="organisationData.email" ng-required="true" />
                   <span ng-if="operationOrganisation.view">{{organisationData.email}}</span>
                 </div>
                 <div class = "col-md-3"><label>Address </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="text" class="form-control input-size" ng-model="organisationData.address"/>
                   <span ng-if="operationOrganisation.view">{{organisationData.address}}</span>
                 </div>
               </div></br>

               <div class = "row">
                 <div class = "col-md-3"><label>Reference Name </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="text" class="form-control" ng-model="organisationData.reference_name" ng-required="true" />
                   <span ng-if="operationOrganisation.view">{{organisationData.reference_name}}</span>
                 </div>
                 <div class = "col-md-3"><label>Reference Mobile No </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="text" class="form-control input-size" ng-model="organisationData.reference_phone"/>
                   <span ng-if="operationOrganisation.view">{{organisationData.reference_phone}}</span>
                 </div>
               </div></br>

               <div class = "row">
                 <div class = "col-md-3"><label>Reference Email </label></div>
                 <div class = "col-md-3">
                   <input ng-if="operationOrganisation.edit || operationOrganisation.create" type="email" class="form-control" ng-model="organisationData.reference_email" ng-required="true" />
                   <span ng-if="operationOrganisation.view">{{organisationData.reference_email}}</span>
                 </div>
                 <div class = "col-md-3"><label>Category </label></div>
                 <div class = "col-md-3">
                   <select ng-if="operationOrganisation.edit || operationOrganisation.create" class="form-control" ng-model="organisationData.category">
                     <option ng-repeat="category in organisationCategories" value="{{category}}">{{category}}</option>
                     <span ng-if="operationOrganisation.view">{{organisationData.category}}</span>
                   </select>
                 </div>
               </div></br>

              <div class = "row">
                <div class = "col-md-3"><label>Comments </label></div>
                <div class = "col-md-6">
                  <textarea ng-if="operationOrganisation.edit || operationOrganisation.create" class="form-control" rows="4" cols="60" ng-model="organisationData.comments"></textarea>
                  <span ng-if="operationOrganisation.view">{{organisationData.comments}}</span>
                </div>
              </div>
             </div>
             <div class="create-org-btn">
               <button ng-if="operationOrganisation.create" class="btn btn-danger active" ng-click="createOrganisation()">Create</button>
               <button ng-if="operationOrganisation.edit" class="btn btn-danger active" ng-click="updateOrganisation()">Update</button>
             </div>
           </div>
        </div>
    </div>
  </div>
  <!--End: organisation create tab -->
  <!--Start: organisation view tab -->
  <div class="" ng-switch-when="organisationCommon" id="organisationCommon">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Organisation</h3>
        </div>
        <div class="panel-body organisation-view-tab-content">
          <div class = "table">
            <div class="form-group">
               <div class = "row organisation-view-tab">
                 <div class = "col-md-1"><label>Index </label></div>
                 <div class = "col-md-3"><label>Organisation Name </label></div>
                 <div class = "col-md-2"><label>Category</label></div>
                 <div class = "col-md-2"><label>View </label></div>
                 <div class = "col-md-2"><label>Edit </label></div>
                 <div class = "col-md-2"><label>Delete </label></div>
               </div></br>
               <div class = "row" ng-repeat="organisation in organisationList">
                 <div class = "col-md-1">
                   {{$index+1}}
                 </div>
                 <div class = "col-md-3">
                   <label>{{organisation.name}}</label>
                 </div>
                 <div class="col-md-2">
                   {{organisation.category}}
                 </div>
                 <div class = "col-md-2"><a ng-click="goToOrganisation(contentItem.organisation,'view',organisation)">View </a></div>
                 <div class = "col-md-2"><a ng-click="goToOrganisation(contentItem.organisation,'edit',organisation)">Edit </a></div>
                 <div class = "col-md-2"><a ng-click="goToOrganisation(contentItem.organisation,'delete')">Delete </a></div>
               </div></br>
             </div>
           </div>
        </div>
    </div>
    <div class="create-org-btn">
      <button type="button" class="btn btn-primary" name="button" ng-click="goToOrganisation(contentItem.organisation,'create')">Create New Organisation</button>
    </div>
  </div>
  <!--End: organisation view tab -->
  <!--Start: profile view tab -->
  <div class="" ng-switch-when="profileView" id="profileView">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Profile</h3>
        </div>
        <div class="panel-body organisation-view-tab-content">
          <div class = "table">
            <div class="form-group">
               <div class = "row organisation-view-tab">
                 <div class = "col-md-2"><label>Index </label></div>
                 <div class = "col-md-2"><label>Profile Name </label></div>
                 <div class = "col-md-3"><label>Organisation Name </label></div>

                 <div class = "col-md-2"><label>View </label></div>
                 <div class = "col-md-1"><label>Edit </label></div>
                 <div class = "col-md-2"><label>Delete </label></div>
               </div></br>
               <div class = "row" ng-repeat="profile in profilesList">
                 <div class = "col-md-2">
                   {{$index+1}}
                 </div>
                 <div class = "col-md-2">
                   <label>{{profile.name}}</label>
                 </div>
                 <div class = "col-md-3">
                   <label>{{profile.organisation.name}}</label>
                 </div>
                 <div class = "col-md-2"><a ng-click="goToProfiles(contentItem.profile,'view',profile)">View </a></div>
                 <div class = "col-md-1"><a ng-click="goToProfiles(contentItem.profile,'edit',profile)">Edit </a></div>
                 <div class = "col-md-2"><a ng-click="goToProfiles(contentItem.profile,'delete')">Delete </a></div>
               </div></br>
             </div>
           </div>
        </div>
    </div>
    <div class="create-org-btn">
      <button type="button" class="btn btn-primary" name="button" ng-click="goToProfiles(contentItem.profile,'create')">Create New Profile</button>
    </div>
  </div>
  <!--End: organisation view tab -->
</div>
<!--End of container  -->
<!--end: content  -->
</div>
</div>
<!--start : change password  -->
<div class="modal change_password" id="passwordModal" >
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <form name="passwordForm">
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label for="new_password" class="col-md-4 control-label">New Password</label>
            <div class="col-md-5 controls">
                <input type="password" name="new_password" class="form-control" ng-model="userInfo.password">
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password" class="col-md-4 control-label">Confirm Password</label>
            <div class="col-md-5 controls">
                <input type="password" name="confirm_password" class="form-control" ng-model="userInfo.confirm_password" ng-change="checkPassword(userInfo.password,userInfo.confirm_password)">
                <span ng-if="!passwordValid && passwordForm.confirm_password.$dirty">{{passwordError}}</span>
            </div>
        </div>
    </div>
  </form>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button href="#" class="btn btn-primary" id="password_modal_save" ng-click="changePassword()" ng-disabled="!passwordValid">Save changes</button>
    </div>
</div>
<!--end : change password  -->
<!--start: modal for create object lvel permission for profile  -->
<div id="createObjectLevelPermissionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Object Level Permission</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email">Object Name</label>
            <select class="form-control" ng-model="objectLevelPermissionData.content_type">
              <option ng-repeat="content_type in contentTypeList" value="{{content_type.id}}">{{content_type.model|uppercase}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Assign Object Level Permissions : </label></br>
            <label><input type="checkbox" ng-model="objectLevelPermissionData.view">&nbsp;View</label> &nbsp;
            <label><input type="checkbox" ng-model="objectLevelPermissionData.update">&nbsp;Update</label> &nbsp;
            <label><input type="checkbox" ng-model="objectLevelPermissionData.create">&nbsp;Create</label> &nbsp;
            <label><input type="checkbox" ng-model="objectLevelPermissionData.delete">&nbsp;Delete</label> &nbsp;
            <label><input type="checkbox" ng-model="objectLevelPermissionData.view_all">&nbsp;ViewAll</label> &nbsp;
            <label><input type="checkbox" ng-model="objectLevelPermissionData.update_all">&nbsp;UpdateAll</label> &nbsp;
          </div>
          <div class="form-group">
            <label for="email">Select Profile</label>
            <select class="form-control" ng-model="objectLevelPermissionData.profile">
              <option ng-repeat="profile in profilesList" ng-if="profile.is_standard" value="{{profile.id}}">{{profile.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Description</label>
            <textarea  class="form-control" rows="4" cols="40"></textarea>
          </div>
          <button type="submit" class="btn btn-default" ng-model="objectLevelPermissionData.description" ng-click="createObjectLevelPermission()">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!--end: modal for create object lvel permission for profile  -->

<!--start: modal for create object lvel permission for profile  -->
<div id="createGeneralUserPermissionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create General User Level Permission</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email">Name</label>
            <input type="text" class="form-control" ng-model="generalUserLevelPermissionData.name">
          </div>
          <div class="form-group">
            <label>Assign General User Level Permissions : </label></br>
            <label><input type="checkbox" ng-model="generalUserLevelPermissionData.is_allowed">&nbsp;Is Allowed</label> &nbsp;
          </div>
          <div class="form-group">
            <label for="email">Select Profile</label>
            <select class="form-control" ng-model="generalUserLevelPermissionData.profile">
              <option ng-repeat="profile in profilesList" ng-if="profile.is_standard" value="{{profile.id}}">{{profile.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">Description</label>
            <textarea  class="form-control" rows="4" cols="40"  ng-model="generalUserLevelPermissionData.description"></textarea>
          </div>
          <button type="submit" class="btn btn-default"ng-click="createGeneralUserLevelPermission()">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!--end: modal for create object lvel permission for profile  -->
