<link rel="stylesheet" href="modules/pages/operations/opsExecutionPlan/opsExecutionPlan.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<!-- <div ng-loading="loading"></div> --> <!--For displaying loading icon-->
</br></br></br><back-Button></back-Button>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
<div ng-hide="!hideData" style="text-align:center"><label>No Results Found</label></div>
<h3 ng-hide="hideData" style = "margin-left: 460px; margin-top: 60px;">Operations Execution Plan</h3>
<div class="container" ng-hide="hideData">
  <div class="row">
    <div class=" table-responsive panel panel-default">
      <table class="table table-fixed table-bordered" style="text-align: center;">
        <thead>
          <tr>
            <th ng-repeat="header in headings" class="col-md-2" style="text-align: center;">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in campaignData">
            <td class="col-md-1"><a data-target="#supplierModal" data-toggle="modal" ng-click="getSupplierDetails(item)">{{supplier.shortlisted_inventory_details.shortlisted_supplier.object_id}}</a></td>
            <td class="col-md-1">{{supplier.shortlisted_inventory_details.inventory_id}}</td>
            <td class="col-md-2">{{supplier.shortlisted_inventory_details.inventory_type.adinventory_name}}</td>
            <td class="col-md-2" ng-if="supplier.images.length > 0"><a data-target="#imageModal" data-toggle="modal" ng-click="setImageUrl(supplier)">View Image</a></td>
              <td ng-if="supplier.images.length == 0"><label>No Image<label></td>
            <td class="col-md-2">{{supplier.activity_type}}</td>
            <td class="col-md-2">{{supplier.activity_date|limitTo:10}}</td>
            <td class="col-md-2"> <input type="checkbox" ng-model="supplier.status"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "col-md-12" style="text-align:right">
    <button class="btn btn-danger active notify" data-target = "#reAssignModal" data-toggle = "modal" ng-click="">ReAssign</button>
    <button class="btn btn-danger active notify" ng-click="getSummary()">Summary</button>
  </div>
</div>
<!--Start: Code for supplier details Modal Window -->
<div id="supplierModal" class="modal fade">
  <div class="modal-dialog" style="width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Supplier Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 200px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in supplier_headings" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{supplierData.supplier_id}}</td>
                <td>{{supplierData.name}}</td>
                <td>{{supplierData.area}}</td>
                <td>{{supplierData.subarea}}</td>
                <td>{{supplierData.city}}</td>
                <td>{{supplierData.state}}</td>
                <td>{{supplierData.zipcode}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for supplier details Modal Window -->
<!--Start: Code for showing image Modal Window -->
<div id="imageModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">View Image</h4>
        <hr/>
        <div class = "modal-body">
          <div class="carousel" id="slider" >
             <div class="carousel-inner">
                 <div class="item" ng-class="{active:!$index}" ng-repeat="image in imageUrlList">
                    <img ng-src="{{image.image_url}}" style="width:600px; height:400px;" class="img-responsive" alt="NO Image Found"/></br>
                    Comment : {{image.comment}}
                 </div>
             </div>
              <a class="left carousel-control"  data-toggle="carousel" data-target = "#slider" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" data-toggle = "carousel" data-target = "#slider" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing image Modal  Window -->
<!--Start: Code for showing summary Modal Window -->
<div id="summaryModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Summary</h4>
        <hr/>
        <div class = "modal-body" style = "height: 460px;">
          <table class="table table-bordered">
            <thead>
              <th ng-repeat="header in dates">{{header.header}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="header in summaryHeaders">
                <td><label>{{header.header}}</label></td>
                <td>{{summaryData.Total[header.key]}}</td>
                <td>{{summaryData.Actual[header.key]}}</td>
                <td>{{(summaryData.Actual[header.key]/summaryData.Total[header.key])*100|limitTo:5}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing summary Modal  Window -->

<div id="reAssignModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ReAssign User</h4>
        <hr/>
        <div class = "modal-body" style = "height: 150px;">
        </div>
      </div>
    </div>
  </div>
</div>
