<link rel="stylesheet" href="modules/pages/operations/opsExecutionPlan/opsExecutionPlan.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<!-- <div ng-loading="loading"></div> --> <!--For displaying loading icon-->
</br></br></br><back-Button></back-Button>
<div ng-hide="!hideData" style="text-align:center"><label>No Results Found</label></div>
<h3 ng-hide="hideData" style = "margin-left: 460px; margin-top: 60px;">Operations Execution Plan</h3>
<div class="container" ng-hide="hideData">
  <div class="row">
    <div class=" table-responsive panel panel-default">
      <table class="table table-fixed table-bordered" style="text-align: center;">
        <thead>
          <tr>
            <th ng-repeat="header in headings" class="col-md-2" style="text-align: center;">{{header.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in campaignData">
            <td class="col-md-1"><a data-target="#supplierModal" data-toggle="modal" ng-click="getSupplierDetails(item)">{{supplier.inventory_details.shortlisted_supplier.object_id}}</a></td>
            <td class="col-md-1">{{supplier.inventory_details.inventory_id}}</td>
            <td class="col-md-2">{{supplier.inventory_details.inventory_type.adinventory_name}}</td>
            <td class="col-md-2"><a ng-if="supplier.image_path" data-target="#imageModal" data-toggle="modal" ng-click="setImageUrl(supplier.image_path)">View Image</a>
              <label ng-if="!supplier.image_path">No Image</td>
            <td class="col-md-2">{{supplier.activity_type}}</td>
            <td class="col-md-2">{{supplier.activity_date}}</td>
            <td class="col-md-2">{{supplier.comment}}</td>
            <td class="col-md-2"> <input type="checkbox" ng-model="supplier.status"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "col-md-12" style="text-align:right">
    <button class="btn btn-danger active notify" ng-click="">ReAssign</button>
    <button class="btn btn-danger active notify" data-target="#summaryModal" data-toggle="modal" ng-click="getSummary()">Summary</button>
  </div>
</div>
<!--Start: Code for supplier details Modal Window -->
<div id="supplierModal" class="modal fade">
  <div class="modal-dialog" style="width:800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Supplier Details</h4>
        <hr/>
        <div class = "modal-body" style = "height: 200px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="header in supplier_headings" class="col-md-2" style="text-align: center;"><b>{{header.header}}</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{supplierData.supplier_id}}</td>
                <td>{{supplierData.name}}</td>
                <td>{{supplierData.area}}</td>
                <td>{{supplierData.subarea}}</td>
                <td>{{supplierData.city}}</td>
                <td>{{supplierData.state}}</td>
                <td>{{supplierData.zipcode}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for supplier details Modal Window -->
<!--Start: Code for showing image Modal Window -->
<div id="imageModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Image</h4>
        <hr/>
        <div class = "modal-body" style = "height: 460px;">
          <table class="table table-bordered">
            <tbody>
                <img ng-src="{{getImageUrl()}}" width="500px" height="400px"alt="No Image Found"/>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing image Modal  Window -->
<!--Start: Code for showing summary Modal Window -->
<div id="summaryModal" class="modal fade">
  <div class="modal-dialog" style="width:560px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Summary</h4>
        <hr/>
        <div class = "modal-body" style = "height: 460px;">
          <table class="table table-bordered">
            <thead >
              <th ng-repeat="header in dates">{{header.header}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="header in summaryHeaders">
                <td><label>{{header.header}}</label></td>
                <td>{{summaryData.Total[header.key]}}</td>
                <td>{{summaryData.Actual[header.key]}}</td>
                <td>{{(summaryData.Actual[header.key]/summaryData.Total[header.key])*100|limitTo:5}}%</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End: Code for showing summary Modal  Window -->
