#table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;
  margin-left:20px;
}

.commentBox{
	margin-top: 10px;
	margin-bottom: 10px;
}

.updateButton{
	text-align:right;
	padding-right:100px
}
th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
  text-align: center;
}
