<link rel="stylesheet" href="modules/pages/DashBoard/CampaignList/campaignlist.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>
<div><nav-bar></nav-bar></div>
<div ng-loading="loading"></div> <!--For displaying loading icon-->
<br><br><br>
<div class="container-fluid">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
    <div class="" permission = "[]">
      <div class="breadcrumb" ncy-breadcrumb></div>
    </div>
  </div>
  <div class="col-sm-3">

  </div>
</div>


<body>
  <div class="container-fluid">
  <div class=""></div>

  <div class="">


<div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>
<!-- Start: Displaying table of converted campaigns -->
<h3 style="text-align:center" ng-show="!isEmpty">Campaign List</h3>
<div class="content">
  <div class="container" ng-show="!isEmpty">
    <div class="row">
      <div class=" table-responsive panel panel-default">
        <table class="table table-fixed table-bordered" style="text-align: center;">
          <thead>
            <tr>
              <th ng-repeat="header in campaignHeadings" class="" style="text-align: center;">{{header.header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="proposal in campaignData">
              <td class="col-md-1">{{proposal.campaign.proposal_id}}</td>
              <td class="col-md-2">{{proposal.campaign.name}}</td>
              <td class="col-md-2">{{proposal.assigned_to.first_name||proposal.assigned_to.username}}</td>
              <td class="col-md-2">{{proposal.assigned_by.first_name||proposal.assigned_by.username}}</td>
              <td class="col-md-2">{{proposal.updated_at|limitTo:10}}</td>
              <td class="col-md-2">{{proposal.campaign.tentative_start_date|limitTo:10}}</td>
              <td class="col-md-2">{{proposal.campaign.tentative_end_date|limitTo:10}}</td>
              <td class="col-md-2">
                <a ng-click="getDetails(proposal.campaign.proposal_id)"> Details </a>
              </td>
              <td class="col-md-2">
                <a ng-click="getExecutionDetails(proposal.campaign)"> Details </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--End: Displaying table of converted campaigns -->
<!-- <footer-bar></footer-bar> -->
</div>
<div class="">

</div>
</div>
</body>
