html{
  background-color: #ffffff;
}
body{
	/* background-color: #ffffff !important; */
  overflow-x: visible !important;

	font-family: Source Sans Pro;
	color: #707070;
}
th {
  background-color: #8e1921;
  color: white;

  }
.breadcrumb{
  /*width: 65%;*/
  margin-left: auto;
  margin-right: auto;
	background-color: transparent;
  font-size : x-large;
}
.panel{
  /*height: 80vh;*/
}
.panel1{
  /* margin-left: 5%;
  margin-right: 5%; */
}
.panel-heading{
  text-align: center;
  background-color: #d9534f;
  color: white;
}
.table-responsive{
  overflow-x: visible !important;
}
