th{
  	background: #808080;
    text-align: center;
  	color: #fff;
}
body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
  min-width:100%;
}
.content{
  min-height: 400px;
}

.breadcrumb{
  /*width: 65%;*/
  margin-left: auto;
  margin-right: auto;
	background-color: transparent;
  font-size : x-large;
}
.panel{
  margin-left: 10%;
  margin-right: 10%;
  /*height: 80vh;*/
}
.panel1{
  margin-left: 10%;
  margin-right: 10%;
}
.panel-heading{
  text-align: center;
  background-color: #808080;
  color: white;
}
.panel-table{
  overflow: auto;
  height: 60vh;
}
