<link rel="stylesheet" href="modules/pages/DashBoard/CampaignList/campaignlist.tmpl.css"/>
<link rel="stylesheet" href="modules/common/loadingicon/loading-spinner.tmpl.css"/>

<body>
  <div ng-loading="loading"></div> <!--For displaying loading icon-->

  <main ng-show="!isEmpty" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }" ng-if="loading">

<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> -->
<div><nav-bar></nav-bar></div>
<br><br><br>
<div class="panel1">
  <!-- <div class="col2"> -->
    <div class="" permission = "[]">
      <div  ncy-breadcrumb></div>
    <!-- </div> -->
  </div>
</div>


  <div class="row">
    <div class="panel">
    <!-- <div class=""> -->

  <div ng-show="isEmpty" style="text-align:center;"><h2>{{msg}}</h2></div>
  <!-- Start: Displaying table of converted campaigns -->
  <div class="pageTitle" style="margin-top:-15px">
  <h3 ng-show="!isEmpty">Campaign List</h3>
  <!-- <input type="text" name="search" style="margin-top:-50px;height:40px;color:black;" ng-model="query" placeholder="Search.."> -->
  </div>

  <div class="panel-body" >
  <div class="table-responsive">
    <div class="" ng-show="!isEmpty">
  <!-- <input class="form-control input-size" type="text" ng-model="search" class="form-control spacing col-width"> -->

      <!-- <div class=""> -->
          <div class="row campaignTable">
            <table st-table="campaignData" st-safe-src="Data" class="table table-striped" default-sort-reverse="true">
              <thead>
                <tr>
                  <th colspan='9' style="background-color:#ffffff;">
                    <input st-search="" placeholder="Search ..." class="form-control"  type="search"/>
                  </th>
                </tr>
                <tr>
                  <th style="text-align: center;">Sr No</th>
                  <th style="text-align: center;">Campaign Name</th>
                  <th style="text-align: center;">Assgined To</th>
                  <th style="text-align: center;">Assgined By</th>
                  <th st-sort="updated_at" st-skip-natural="true" style="text-align: center;">Assigned Date</th>
                  <th st-sort="campaign.tentative_start_date" st-skip-natural="true" style="text-align: center;">Start Date</th>
                  <th st-sort="campaign.tentative_end_date" st-skip-natural="true" style="text-align: center;">End Date</th>
                  <th style="text-align: center;">View Booking Details</th>
                  <th style="text-align: center;">Assign Dates</th>
                  <th style="text-align: center;">View Execution Image</th>
                </tr>
              </thead>
              <tbody>
                <tr  st-select-row='proposal' style="text-align: center;" ng-repeat="proposal in campaignData">
                  <!-- <td class="col-md-1">{{proposal.campaign.proposal_id}}</td> -->
                  <td class="col-md-2">{{$index + 1}}</td>
                  <td class="col-md-2">{{proposal.campaign.name}}</td>
                  <td class="col-md-2">{{proposal.assigned_to.first_name||proposal.assigned_to.username}}</td>
                  <td class="col-md-2">{{proposal.assigned_by.first_name||proposal.assigned_by.username}}</td>
                  <td class="col-md-2">{{proposal.updated_at|limitTo:10 }}</td>
                  <td class="col-md-2">{{proposal.campaign.tentative_start_date|limitTo:10}}</td>
                  <td class="col-md-3">{{proposal.campaign.tentative_end_date|limitTo:10}}</td>
                  <td class="col-md-2">
                    <a ng-click="getDetails(proposal.campaign.proposal_id)"> Details </a>
                  </td>
                  <td class="col-md-2">
                    <a ng-click="goToAssignDatesPage(proposal.campaign.proposal_id)"> Assign Dates</a>
                  </td>
                  <td class="col-md-2">
                    <a ng-click="getExecutionDetails(proposal.campaign)"> Image Details </a>
                  </td>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages=""></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
      <!-- </div> -->
    </div>
  </div>


   <!-- <footer-bar></footer-bar>   -->
   </div>


  </div>
  </div>
</main>
</body>
