<link rel="stylesheet" href="modules/theme/components/pageTop/menu-bar.css"/>
<link rel="stylesheet" href="modules/theme/components/pageTop/nav-bar.css"/>

<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><!--<span>Blur</span>-->Admin</a>
  <a href class="collapse-menu-link fa fa-tasks menutoggle " ba-sidebar-toggle-menu></a>
  <div class="user-profile custom-menu clearfix">
    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
        <div style="margin-left:35px;margin-top:14px;">
          <span class="glyphicon glyphicon-menu-hamburger" ng-click="getMenu()" data-toggle="modal" data-target="#menuModal"></span>
        </div>
      </li>

      </ul>

    </div>
  </div>
</div>


<!-- modal -->
	<div class="modal right fade" id="menuModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<!-- <div class="modal-content"> -->
				<!-- <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
				</div> -->

				<!-- <div class="modal-body"> -->

          <div  class="container-fluid">
            <div class="row">
                <div class="col-sm-5">
                    <div class="nav-side-menu">
                        <div class="brand">Menu</div>
                        <i class="fa fa-bars fa-2x toggle-btn"></i>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                <li ng-class="{active: isActive('/manageCampaign/create')}" permission = "[perm.menuHome]">
                                  <a ng-href="/#/manageCampaign/create" class="lipadding" ng-click="closeModal()">
                                    <i class="fa fa-tasks fa-lg"></i> Home</a>
                                </li>
                                <li ng-class="{active: isActive('/OpsDashBoard')}" permission = "[perm.menuOpsDashBoard]">
                                  <a ng-href="/#/OpsDashBoard" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i> OpsDashBoard</a>
                               </li>
                              <li ng-class="{active: isActive('/CampaignList')}" permission = "[perm.menuCampaignList]">
                                  <a ng-href="/#/CampaignList" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-list fa-lg"></i> List Campaigns</a>
                              </li>
                              <li ng-class="{active: isActive('/campaignLeads')}">
                                  <a ng-href="/#/campaignLeads" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-columns fa-lg"></i> Campaign Leads</a>
                              </li>
                              <li ng-class="{active: isActive('/dashboard')}">
                                <a href="/#/logout" class=" lipadding">
                                  <i class="fa fa-sign-out fa-lg"></i> Logout</a></li>

                               <!-- <li data-toggle="collapse" data-target="#new" class="collapsed">
                                 &nbsp;&nbsp;&nbsp;<i class="fa fa-th fa-lg"></i>&nbsp;Campaign Status <span class="caret"></span>
                                 <ul class="sub-menu collapse" id="new">
                                   <li><a href="/#/upcomingCampaigns" data-toggle="tab" ng-click="closeModal()">Upcoming</a></li>
                                   <li><a href="/#/ongoingCampaigns" data-toggle="tab" ng-click="closeModal()">Ongoing</a></li>
                                   <li><a href="/#/completedCampaigns" data-toggle="tab" ng-click="closeModal()">Completed</a></li>
                                 </ul>
                               </li> -->
                               <!-- <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}">
                                 <a ng-href="/#/manageCampaign/finalize" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Finalize Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}">
                                 <a ng-href="/#/manageCampaign/finalize" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Upcoming Campaigns</a>
                               </li>
                       				<li ng-class="{ active: isActive('/#/manageCampaign/release')}">
                                <a ng-href="/#/manageCampaign/release" class = "lipadding" ng-click="closeModal()">
                                  <i class="fa fa-list fa-lg"></i>Release Details</a>
                              </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/basicPricing')}">
                                 <a ng-href="#/manageCampaign/ongoingcampaign" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Ongoing Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/standeeBanners')}">
                                 <a ng-href="#/society/{{societyId}}/standeeBanners" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Completed Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/stalls')}">
                                 <a ng-href="#/society/{{societyId}}/stalls" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Booked Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/stalls')}">
                                 <a ng-href="#/CampaignList" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>All Campaigns</a>
                               </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        <!-- </div> -->


				</div>
			<!-- </div> -->
      <!-- modal-content -->
		<!-- </div> -->
    <!-- modal-dialog -->
	</div><!-- modal -->
</div>
