<!-- <link rel="stylesheet" href="modules/common/header/nav-bar.tmpl.css"/> -->
<link rel="stylesheet" href="modules/common/header/menu-bar-tmpl.css"/>
<body id="top">
<div class="navbar-wrapper2 navbar-fixed-top" style="height: 65px;">
  <div class="container">
    <a class="navbar-brand aligntop"><img src="images/logo.png" alt="Machadalo" class="logo"/></a>
    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown active">
        <div style="margin-left:25px;margin-top:20px;font-size:20px;color:#8e1921;">
          <span class="glyphicon glyphicon-menu-hamburger" ng-click="visible=!visible;">Menu</span>
        </div>
      </li>

      </ul>

    </div>
  </div>
</div>
</body>


              <div ng-class="{'is-visible':visible}" class="menu">
                <div class="menu-list">
                  <ul id="menu-content">
                            <li ng-class="{active: isActive('/manageCampaign/create')}" permission = "[perm.menuHome]">
                              <a ng-href="/#/manageCampaign/create" class="lipadding" ng-click="closeModal()">
                                <i class="fa fa-tasks fa-lg"></i> Home</a>
                            </li>
                            <li ng-class="{active: isActive('/dashboard')}" permission = "[perm.viewManagement]">
                              <a href="/#/manageUser" class=" lipadding" ng-click="closeModal()">
                              <i class="fa fa-outdent fa-lg"></i> Management</a></li>

                            <li ng-class="{active: isActive('/OpsDashBoard')}" permission = "[perm.menuOpsDashBoard]">
                              <a ng-href="/#/OpsDashBoard" class=" lipadding" ng-click="closeModal()">
                                <i class="fa fa-dashboard fa-lg"></i> OpsDashBoard</a>
                           </li>
                          <li ng-class="{active: isActive('/CampaignList')}" permission = "[perm.menuCampaignList]">
                              <a ng-href="/#/CampaignList" class=" lipadding" ng-click="closeModal()">
                                <i class="fa fa-list fa-lg"></i> List Campaigns</a>
                          </li>
                          <li ng-class="{active: isActive('/campaignLeads')}">
                              <a ng-href="/#/campaignLeads" class=" lipadding" ng-click="closeModal()">
                                <i class="fa fa-columns fa-lg"></i> Campaign Leads</a>
                          </li>
                          <li ng-class="{active: isActive('/dashboard')}">
                              <a ng-href="/#/dashboard" class=" lipadding" ng-click="closeModal()">
                                <i class="fa fa-dashboard fa-lg"></i>DashBoard</a>
                          </li>
                          <li ng-class="{active: isActive('/dashboard')}">
                            <a href="/#/logout" class=" lipadding" ng-click="closeModal()">
                              <i class="fa fa-sign-out fa-lg"></i> Logout</a></li>

                      </ul>
                </div>
              </div>
                <!-- <div class="col-sm-5">
                    <div class="nav-side-menu">
                        <div class="brand">Menu</div>
                        <i class="fa fa-bars fa-2x toggle-btn"></i>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                <li ng-class="{active: isActive('/manageCampaign/create')}" permission = "[perm.menuHome]">
                                  <a ng-href="/#/manageCampaign/create" class="lipadding" ng-click="closeModal()">
                                    <i class="fa fa-tasks fa-lg"></i>Home</a>
                                </li>
                                <li ng-class="{active: isActive('/OpsDashBoard')}" permission = "[perm.menuOpsDashBoard]">
                                  <a ng-href="/#/OpsDashBoard" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i>OpsDashBoard</a>
                               </li>
                              <li ng-class="{active: isActive('/CampaignList')}" permission = "[perm.menuCampaignList]">
                                  <a ng-href="/#/CampaignList" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i>List Campaigns</a>
                              </li>
                              <li ng-class="{active: isActive('/campaignLeads')}">
                                  <a ng-href="/#/campaignLeads" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i>Campaign Leads</a>
                              </li>

                            </ul>
                        </div>
                    </div>
                </div> -->
