<link rel="stylesheet" href="modules/common/header/nav-bar.tmpl.css"/>
<link rel="stylesheet" href="modules/common/header/menu-bar-tmpl.css"/>
<body id="top">
<div class="navbar-wrapper2 navbar-fixed-top" style="height: 45px;">
  <div class="container">
    <a class="navbar-brand aligntop"><img src="images/logo.png" alt="Machadalo" class="logo"/></a>
    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active" ng-mouseover="enableDropDown = true" ng-mouseout="enableDropDown = false">
          <a class="header-nav-bar-a aligntop" class="dropdown-toggle"><img src="img/man.png"/>&nbsp;<b> Welcome {{globals.currentUser.name}}</b><b class="lightcaret mt-2"></b>
          </a>
          <div class=" " ng-show="enableDropDown">
            <ul>
              <li permission="[]"><a href="/#/manageUser">Management</a></li>
              <li><a href="/#/logout">Logout</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown active">
        <div style="margin-left:25px;margin-top:20px;">
          <span class="glyphicon glyphicon-menu-hamburger" ng-click="getMenu()" data-toggle="modal" data-target="#menuModal">Menu</span>
        </div>
      </li>

      </ul>

    </div>
  </div>
</div>
</body>


<!-- modal -->
	<div class="modal right fade" id="menuModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<!-- <div class="modal-content"> -->
				<!-- <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
				</div> -->

				<!-- <div class="modal-body"> -->

          <div  class="container-fluid">
            <div class="row">
                <div class="col-sm-5">
                    <div class="nav-side-menu">
                        <div class="brand">Menu</div>
                        <i class="fa fa-bars fa-2x toggle-btn"></i>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                <li ng-class="{active: isActive('/manageCampaign/create')}" permission = "[bd_manager]">
                                  <a ng-href="/#/manageCampaign/create" class="lipadding" ng-click="closeModal()">
                                    <i class="fa fa-tasks fa-lg"></i>Home</a>
                                </li>
                                <li ng-class="{active: isActive('/OpsDashBoard')}" permission = "[]">
                                  <a ng-href="/#/OpsDashBoard" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i>OpsDashBoard</a>
                               </li>
                              <li ng-class="{active: isActive('/CampaignList')}" permission = "[campaign_manager]">
                                  <a ng-href="/#/CampaignList" class=" lipadding" ng-click="closeModal()">
                                    <i class="fa fa-dashboard fa-lg"></i>List Campaigns</a>
                               </li>
                               <li data-toggle="collapse" data-target="#new" class="collapsed" permissions="[campaign_manager]">
                                 &nbsp;&nbsp;&nbsp;<i class="fa fa-th fa-lg"></i>&nbsp;Campaign Status <span class="caret"></span>
                                 <ul class="sub-menu collapse" id="new">
                                   <li><a href="/#/upcomingCampaigns" data-toggle="tab" ng-click="closeModal()">Upcoming</a></li>
                                   <li><a href="/#/ongoingCampaigns" data-toggle="tab" ng-click="closeModal()">Ongoing</a></li>
                                   <li><a href="/#/completedCampaigns" data-toggle="tab" ng-click="closeModal()">Completed</a></li>
                                 </ul>
                               </li>
                               <!-- <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}">
                                 <a ng-href="/#/manageCampaign/finalize" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Finalize Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/#/manageCampaign/finalize')}">
                                 <a ng-href="/#/manageCampaign/finalize" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Upcoming Campaigns</a>
                               </li>
                       				<li ng-class="{ active: isActive('/#/manageCampaign/release')}">
                                <a ng-href="/#/manageCampaign/release" class = "lipadding" ng-click="closeModal()">
                                  <i class="fa fa-list fa-lg"></i>Release Details</a>
                              </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/basicPricing')}">
                                 <a ng-href="#/manageCampaign/ongoingcampaign" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Ongoing Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/standeeBanners')}">
                                 <a ng-href="#/society/{{societyId}}/standeeBanners" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Completed Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/stalls')}">
                                 <a ng-href="#/society/{{societyId}}/stalls" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>Booked Campaigns</a>
                               </li>
                               <li ng-class="{ active: isActive('/society/{{societyId}}/stalls')}">
                                 <a ng-href="#/CampaignList" class = "lipadding" ng-click="closeModal()">
                                   <i class="fa fa-list fa-lg"></i>All Campaigns</a>
                               </li> -->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        <!-- </div> -->


				</div>
			<!-- </div> -->
      <!-- modal-content -->
		<!-- </div> -->
    <!-- modal-dialog -->
	</div><!-- modal -->
</div>
