<link rel="stylesheet" href="modules/common/filters/filter-tab.tmpl.css"/>
<body id="top">
<!-- FILTERS -->
			<div class="col-md-3 filters offset-0">
			     <div class="padding20title"><h3 class="opensans dark">Filter by<span class="clearall">
						 <a href = "#" uib-tooltip="Clear All filters">Clear All</span></a></h3></div>
				<div class="line2"></div>
				<!-- Location ratings -->
				<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
				  Location <span class="collapsearrow"></span>
				</button>

				<div id="collapse1" class="collapse in">
					<div class="hpadding20 topmarginlt">
						<div class="left wh70percent">
							<div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" extra-settings="example14settings" translation-texts="example5customTexts"></div>
									<!--Vidhi<select class="form-control mySelectBoxClass">
									  <option selected>Select Location</option>
										| unique:'society_location_type' for displaying unique values
									  <option ng-repeat = "row in model| unique:'society_location_type'"  ng-model = "filter">{{row.society_location_type}}</option>
									</select>-->
						 <!--<input type="text" ng-model="asyncSelected" placeholder = "Search Location" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                 <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    				 			<div ng-show="noResults">
      							<i class="glyphicon glyphicon-remove"></i> No Results Found
    						</div>-->
					 </div>
				</div>
					<div class="clearfix"></div>
				</div>
    <!--End Location Rating-->
    <!-- Society Type-->
    <button type="button" class="collapsebtn topmarginlt" data-toggle="collapse" data-target="#collapse1">
				  Society Type  <span class="collapsearrow"></span>
	  </button>
				<div id="collapse1" class="collapse in">
					<div class="hpadding20 topmarginlt">
						<div class="left wh70percent">
									<select class="form-control mySelectBoxClass">
										<option selected>Select Society Type</option>
									  <option ng-repeat = "row in model| unique:'society_locality'" ng-model = "filter">{{row.society_locality}}</option>
									</select>
								</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- End of Society Names -->
				<div class="line2"></div>
				<!-- Inventory Type -->
				<button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
				  Inventory Type <span class="collapsearrow"></span>
				</button>
				<div id="collapse4" class="collapse in">
					<div class="hpadding20">
						<div class="checkbox">
							<label>
							  <input type="checkbox">Poster Caimpaign
							</label>
						</div>
						<div class="checkbox">
							<label>
							  <input type="checkbox">Standee Caimpaign
							</label>
						</div>
						<div class="checkbox">
							<label>
							  <input type="checkbox">Stall Campaign
							</label>
						</div>
						<div class="checkbox">
							<label>
							  <input type="checkbox">Event Campaign
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox">Flier Campaign
							</label>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- End of Inventory Type -->

				<!-- Price range -->
				<button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
				  Price range <span class="collapsearrow"></span>
				</button>
				<rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
				<div class="line2"></div>
				<div class="clearfix"></div>
				<br/>
				<br/>
				<br/>
				<button type="submit" class="btn btn-default" ng-click="filter()">Apply</button>
				  <!--Apply <span class="collapsearrow"></span>-->
				</button>
		</div>
			<!-- END OF FILTERS -->
			<sort-bar><sort-bar>
