html{
  background-color: #ffffff !important;
}
body.blur-theme::before {
  background: #ffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body a {
  color: #c70202;
}

body a:hover {
  color: #ffffff;
}

a.collapse-menu-link:hover {
  color: #cb3328;
}

.dashboard-tab {
  margin-top: 20px;
}
.dashboard-tab .uib-tab {
  width: 33.33%;
  text-align: center;
}
.dashboard-tab .tab-content {
  padding: 30px 15px 5px 15px;

  }
.dashboard-tab .custom-panel.panel {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}
.dashboard-tab .panel > .panel-body {
  padding: 15px 22px;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
}
.dashboard-tab .custom-panel .panel {
  padding: 5px;
  background: #cb1925 !important;
}
.dashboard-tab .custom-panel h4 {
  margin-bottom: 0;
}
.dashboard-tab .custom-panel h5 {
  margin-bottom: 0;
}
.dashboard-tab h5.label-per {
  margin-top: 10px;
  border: 1px solid #fff;
  width: 29px;
  padding: 4px;
}
.dashboard-tab .tab-content {
  height: 100%;
}
.dashboard-tab .label-per a {
  color: #fff;
}
.dashboard-tab .panel-hide > .panel.panel-blur {
  background: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}
.dashboard-tab .pie-chart-item {
  padding: 0 16px;
}

.dashboard-side-label {
  color: black;
  padding-top: 5px;
}
.dashboard-side-label h4 {
  margin: 10px 60px 52px;

}

.dashboard-table {
  margin-top: 50px;
}
.dashboard-table .panel-title {
  text-align: center;
}

.dashboard-tab-left .uib-tab {
  width: 100% !important;
}

.custom-menu .al-msg-center {
  margin: 13px 47px 0 14px;
}

.custom-toggle-menu {
  font-size: 20px;
}

.top-dropdown-menu.custom-menu > a {
  text-align: left;
}

.custom-menu .dropdown-menu {
  padding: 0;
}

.blur-theme .nav.nav-tabs > li.active > a {
  background-color: #c70202;
}

.panel-hover {
  display: none;
}

.pie-chart-item-container:hover + .panel-hover {
  display: block;
  position: absolute;
  width: 63%;
  z-index: 1;
  margin: 0 14%;
  margin-top: -136px;
  height: 33px;
}

.panel-hover .panel.panel-blur {
  background: #bb0202;
}

.panel-hover:after {
  content: '';
  position: absolute;
  top: 57px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #bb0202;
}

.panel-hover .modal-buttons {
  margin-right: 0;
  margin-top: 0;
}

.al-sidebar-list-item.selected:not(.with-sub-menu) {
  background-color: #b30505;
  border-right: 1px solid #520202;
}

.sidebar-hover-elem {
  background: #b30505;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #cb1a26;
}

.panel.panel-blur {
  background: #ffff;
}

.page-top {
  background-color: #4e0303;
}

.page-top.scrolled {
  background-color: rgba(117, 21, 21, 0.87);
}

.tab-content .tab-pane p {
  color: #ffffff;
  margin-bottom: 0;
}

.back-top {
  color: #c70202;
}

.date-tab-heading {
  color: black;
}

.blur-theme .nav.nav-tabs > li.active > a {
  background: #8e1921  !important;
}

.blur-theme .nav.nav-tabs > li > a {
  background: #cb1925 !important;
}

.blur-theme .nav.nav-tabs > li > a:hover {
  background: #8e1921  !important;
}

.panel {
  color: black;
  box-shadow: 0 1px 5px 0 black;
  background: #ffff;
}

.date-grid-tab {
  background: #cb1925 !important;
  color: #ffff !important;
}
.date-grid-tab .panel-heading {
  padding: 0 !important;
}
.date-grid-tab .panel-title {
  text-transform: none !important;
}
.date-grid-tab .panel-heading {
  border-bottom: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}
.date-grid-tab .accordion-toggle:hover {
  color: #d8c1bf;
}

.channels-block.transparent .traffic-chart canvas {
  border: 10px solid #841018;
}

.channels-block.transparent .chart-bg {
  background: #841018;
}

.chart-values-indicator {
  background: #cb1925;
  padding: 20px;
}

.table-design {
  background: #C8C8C8   !important;
  color: #ffff !important;
}

.campaign-table-design {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
.campaign-table-design .panel-heading {
  text-align: center !important;
}
.tab-content{
  height : none;
}
.percent-circle{
  margin-left: 10px;
  padding-bottom: 5px;
}

.animate-show {
        max-height:250px !important;
        opacity: 1;
        overflow:auto;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    transition:all ease 0.75s;
}
.animate-show.ng-hide {
    max-height:0  !important;
    opacity:0;
}
ul.animate-show li {
 background-color:#9e3030;
 padding: 10px;
}
ul.animate-show li.selected {
 background-color:red;
}

.campaign-header{
    text-align: center;
}
.menu-header{
  background: #c3452f;
}
.menu-content{
  max-height: 700px !important;
  overflow-x: auto !important;
  background: #ffffff !important;
  color : #000 !important;

}

.camp-menu-content{
  /* max-height: 700px !important; */
  overflow-x: auto !important;
  background: #ffffff !important;
  color : #000 !important;

}

.panel-title{
  background: #bf321b;
  color: #ffffff;
  text-align: center;
  text-transform : none !important;
  font-weight : bolder !important;
  padding: 10px !important;
}
#ba-panel-title{
    text-align: center !important;
  text-transform : none !important;
  font-weight : bolder !important;
  padding: 10px !important;
}
.content-title{
  text-align: center;
  background: #cb1925 !important;
}
.pieChart-table{
  background: #c3452f !important;
}
.table > tbody > tr > td {
  border-top: 1px solid #ddd !important;
  }

.InventoryTable{
    height: 500px;
    display:block;
    overflow-y: auto;
    overflow-x: hidden;

}

.InventoryTable  thead {
    background-color: #c3452f;
    }

.InventoryTable th{
  font-weight: bold !important;
    color:#ffffff;
    background-color: #4E6D8C  ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
text-align: center;
  }

.InventoryTable  tr{
  font-weight: normal !important;
  color:#000000;

}
.InventoryTable  td{
  font-weight: normal !important;
  color:#000000;

}


.InventoryTable1 {
  height: 500px;
  display:block;
  overflow-y: auto;
  overflow-x: hidden;
  }

.InventoryTable1  thead {
  background-color: #cb1925;
  font:bold 13px/30px Arial, serif;
  color: white;
  }


.InventoryTable1  tbody {
  background-color: #fcfc5f;
  color: black;
  }



.campaignInvTable {
  max-height: 300px !important;
  overflow: auto !important;
  }

.campaignInvTable  thead {
    background-color: #cb1925 ;
    color: white;
    }


  .campaignInvTable  tbody {
  background-color: #fcfc5f;
  color: black;
      }



.LeadsTable {
  color: white;
  }

.LeadsTable  thead {
  background-color: #cb1925 ;
  color: white;
  }


.LeadsTable  tbody {
  background-color: #fcfc5f;
  color: black;

  }
.AvgLeadsTable tbody {
  background-color: #c3452f;
  color: white;

}
.supplierInvTable {
  max-height: 300px !important;
  overflow: auto !important;

  }


  .supplierInvTable  thead {
  background-color: #cb1925 ;
  color: white;
  }


  .supplierInvTable  tbody {
    background-color: #fcfc5f;
    color: black;
    }

  .RELEASETable {
    background-color: #fcfc5f;
    color: black;
  margin-left:-50px;
  margin-right:-50px;
  margin-top: 15px;
    }


    .RELEASETable  thead {
    background-color: #cb1925 ;
    color: white;
    width: 100%;
    margin-left:-50px;
    margin-right:-50px;
    margin-top: 15px;
    }

    .RELEASETable  tbody > td{
    font:bold 12px/30px Georgia, serif;
    margin-left:-50px;
    margin-right:-50px;
    margin-top: 15px;
    }

    .sidePanelTable {
      background-color: white;
      color: black;
      font-size: 15px;
      }


      .sidePanelTable  thead {
      background-color: #8e1921;
      color: white;
      width: 100%;
      border:1px solid black !important;
      }

      .sidePanelTable  tbody > tr > td{
        border:1px solid black !important;
      }

.zeroCampAct{
  color: rgb(195, 69, 47);
  padding-left : 30%;
}


.zeroInventory{
  color: rgb(195, 69, 47);
  font-size: 180px;
  margin-top: 100px;

}


.zeroInventory > h1{

  font-size: 15px;
  /* margin-top: 100px; */
  left: 100px;

}


.multiselect-parent {
  color: black !important;
  border-color: black !important;
}

.multiselect-parent .dropdown-toggle {
  color: black !important;
  border-color: black !important;


}

.multiselect-parent .dropdown-menu {
  color: black !important;
  border-color: black !important;


}

#displayedFocus button:focus{
  transform: scale(1.2) !important;
  background: #800000 !important;

}


#ontimeonlocFocus button:focus{
  transform: scale(1.2) !important;
  background: #6DE726 !important;

}


.notassigned{
  color: rgb(195, 69, 47);
  padding-left : 30%;
  margin-top: 30px;
}
