.mapPosition{
	margin-left: 15%;
}
.selectcenter{
	margin-left: 9%;
	margin-top: 2%;
}
.containerSpacing{
	margin-top: 2%;
}
.two-col{
	min-width: 50%;
	max-width: 45%;
}
.nbCheckbox{
	position: relative;
    margin-top: 15px;
    display: inline-block;
}

body{
	background: #f2f2f2;
	font-family: Source Sans Pro;
	color: #707070;
}
.filterPanel{
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e1e1e1;
    font-size: 14px;
    float: left;
    width: 100%;
}
.filterPanelHeader{
    font-weight: 400;
    display: block;
}
.panelSpacing{
	 margin left: -29%;
	 margin-right: 29%;
}
.page-panel{
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	width: 99%;
	align-self: center;
}
.drop-width{
	width: 40% !important;
}
.box-spacing{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 40%;
}
.map-width{
	width: 50% !important;
	margin-left: -8%;
}
.alignment-center{
	text-align: center;
}
.space{
	margin-top: 10px !important;
}
.summary-panel{
	margin-left: 155px !important
}
.box-spacing1{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 6%;
}
.search-bin{
	width: 20% !important
}
