.submit-btn{
	background-color: #cd2632;
  width: 232px;
  color:#ffffff;
  height: 36.5px;
  font-color: #ffffff;
  border-radius: 8px;
  margin-left:8px;
  border-color:transparent;
  font-weight: bold;
  font-size: 13px;
  border-bottom-width: inherit;
  border-right-width: inherit;
  border-top-width: inherit;
  border-left-width: inherit;
}
#login-panel{
	width:281px;
}
.quote{
  color:#ccc;
  font-style:italic;
  font-stretch: inherit;
  font-size:30px
}
.extras{
  margin-left:22px;
  font-size:15px;
  color:#cd2632;
}
.myClassNameOne {
  border-radius: 8px;
  border-bottom-width: inherit;
  border-right-width: inherit;
  border-top-width: inherit;
  border-left-width: inherit;
  border-color: #66AFE9;
  outline: 0px none;
  font-family: myFirstFont;
  font-size: 13px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.errorMessages{
  margin-bottom: 20px;
  color: red;
}